<center>
  <h5>Autentificacion</h5>
  
<center>
            			<DIV style="width:400px;   border: 1px solid transparent; border-radius: 4px;   border-color: #ddd; padding:5px;">
            	               <form id="forminiciarsesion" method="post" class="form-signin form-horizontal"  onsubmit="return false;">  
            	                       <div id="alertas"> <div class="alert alert-info">Acceso Al Sistema</div></div>  
            	                       <div class="form-group">
            	                          <label class="col-sm-3 control-label">Nombre de usuario:</label>
            	                          <div class="col-sm-9">
            	                                <input id="temail" type="text" class="form-control input-sm"  name="email"   >

            	                          </div>
            	                      </div> 
            	                      <div class="form-group">
            	                          <label class="col-sm-3 control-label">Contraseña</label>
            	                          <div class="col-sm-9">
            	                              <input  id="tpass" type="password" class="form-control input-sm" name="pass">                 
            	                               
            	                          </div>
            	                      </div>                        
            	                      <div class="form-group">
            	                            <div class="col-sm-5 col-sm-offset-3">
            	                                  <button type="submit" class="btn btn-sm btn-primary" id="iniciarsesion">Iniciar Sesion</button>

            	                            </div>
            	                        </div>
            	                     <div class="alert alert-warning">Para Acceder al sistema debe ingresar sus datos de usuario</div>
            	                 </form>
            				
            			</DIV>
       </center>

	<script type="text/javascript" src="js/bootstrapValidator.js"></script>
  <script src="js/bootstrapValidator.min.js"></script>
  <script type="text/javascript"> 
   

    $('#forminiciarsesion').bootstrapValidator({
              feedbackIcons: {
                  valid: 'glyphicon glyphicon-ok',
                  invalid: 'glyphicon glyphicon-remove',
                  validating: 'glyphicon glyphicon-refresh'
              },
              fields: {
                email: {
                    validators: {
                        notEmpty: {
                            message: 'El campo de email no puede estar vacio'
                        }
                       
                    }
                },
                  pass: {
                      validators: {
                          notEmpty: {
                              message: 'Se requiere este campo'
                          }
                      }
                  }

              }
          }).on('error.field.bv', function(e, data) {
              data.bv.disableSubmitButtons(false);
          }).on('success.field.bv', function(e, data) {
              data.bv.disableSubmitButtons(false);
          });

  $('#iniciarsesion').on('click',  function(){
    if (temail.value!=""&&tpass.value!="")
        $.ajax
        ({
          type: "POST",
          url: "controlador/controladorSesion.php",
          data: {id:1, email:temail.value, pass:tpass.value},
          async: false,  
          dataType: "json",  
          success:
          function (msg) 
          { 
                console.log("salida "+msg);
                if(msg=="false"){   
                  alertas.innerHTML="<div class='alert alert-danger'>Datos Invalidos</div>";
                  temail.value="", tpass.value="";
                }
                else{
                   window.open('index.php' , '_self');
                }
          },
             error: function(jqXHR, textStatus, errorThrown) {
                      console.log("Problema con esto: " +textStatus, errorThrown);
              }
        });

    });

function cerrarsesion(){
    $('#cerrarsesion').on('click',  function(){

      console.log("click en cerrar sesion");
    });
}



    </script>