

<h4>
	<b>Visión</b><br><br>
	<p  align="justify">Ser la Caja de Ahorros por excelencia con altos niveles de solidez, estabilidad, transparencia y solvencia, que contribuya de manera determinante a garantizar el desarrollo socioeconómico de nuestros asociados y de sus familias, afianzando los valores de solidaridad y de cooperativismo, brindando calidad de servicio con alternativas financieras accesibles y de alto rendimiento, enmarcado en los estándares establecidos por la Superintendencia de Cajas de Ahorro. 

	<br><br><br>
	<b>Misión </b><br><br>
	
	Fomentar y mantener el ahorro sistemático proporcionando bienestar social integral de nuestros asociados, basados en la transparencia, calidad de servicio y cooperatividad, de acuerdo con la normativa legal existente.</p>
</h4>
 


