
<center>
<h5><b>Plan de inversión</b></h5>
	
	<table class="table" style="width:55%;">
		<thead>
			<tr>
				<th>OBJETIVO</th>
				<th>CONCEPTO</th>
				<th>INVERSION ANUAL <small>(Bs)</small></th>
				<th>EJECUCION</th>
			</tr>
		</thead>
		<tbody id="cuerpoTabla">
		<!-- 	<tr>
				<td>Aprobar préstamos personales, a corto, mediano y largo plazo.</td>
				<td>Otorgar préstamos personales, a corto, mediano y largo plazo.</td>
				<td>3.000.000,00</td>
				<td>Enero 2015- Diciembre 2015</td>
			</tr>
			<tr>
				<td>Aprobar préstamos comerciales</td>
				<td>Otorgar préstamos comerciales a los asociados</td>
				<td>2.000.000,00</td>
				<td>Enero 2015- Diciembre 2015</td>
			</tr>
			<tr>
				<td>Aprobar préstamos hipotecarios</td>
				<td>Otorgar  préstamos hipotecarios</td>
				<td>1.250.000,00</td>
				<td>Enero 2015- Diciembre 2015</td>

			</tr>
			<tr>
				<td>Otorgar préstamos de vehiculo</td>
				<td>Otorgar préstamos de vehículos</td>
				<td>1.250.000,00</td>
				<td>Enero 2015- Diciembre 2015</td>
				
			</tr> -->
		</tbody>
	</table>
</center>

 <script type="text/javascript">
	 $(document).ready(function() {
	 	 	$.ajax
                ({
                type: "POST",
                url: "controlador/controladorplandeinversion.php",
                data: {id:1},
                async: false,   
                dataType: "json",       
                success:
                function (msg) 
                {   
                	ListarTabla(msg);
                	
                 },
                    error:
                    function (msg) {console.log( msg +"No se pudo realizar la conexion");}
                });


  		function ListarTabla(msg){
  		            for(i=0; i<msg[0].m; i++){                   
                        var row3=$('<tr></tr>');
                       
                        var fila1 = $('<td></td>').text(msg[i].objetivo);
                        var fila2 = $('<td></td>').text(msg[i].concepto);
                        var fila3 = $('<td></td>').text(msg[i].inversionanual);
                        var fila4 = $('<td></td>').text(msg[i].ejecucion);
                       
                        row3.append(fila1);
                        row3.append(fila2);
                        row3.append(fila3);
                        row3.append(fila4);  
                                               
                        $('#cuerpoTabla').append(row3);            
                }
      }
                
	 });
 </script>