<ul class="nav nav-pills">
	<li id="ingresaralsistema"><a href="#">Ingresar Al Sistema</a></li>
	<li id="misionyvida"><a href="#">Mision y Vida</a></li>
	<li id="organigrama"><a href="#">Organigrama</a></li>
	<li id="plandeinversion"><a href="#">Plan de Inversion</a></li>
	<li id="ayuda"><a href="#">Ayuda</a></li>
</ul>