
<style type="text/css">
	.ancho{
		width: 267px;
	}
.btn-group-vertical>.btn, .btn-group-vertical>.btn-group, .btn-group-vertical>.btn-group>.btn {
  display: block;
  float: none;
  /* width: 100%; */
  width: 267px;
   max-width: 100%; 
}
</style>


<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Agregar Usuario</a>
    <li role="presentation" id="habilitar2"><a href="#habilitar" aria-controls="habilitar" role="tab" data-toggle="tab">Habilitar Socio</a></li>
    <li role="presentation" id="listado2" style="display:none;"><a href="#listado" aria-controls="listado" role="tab" data-toggle="tab">Listado de Usuarios</a></li>

    </li>

    
    <li role="presentation" ><a href="#home2" aria-controls="home2" role="tab" data-toggle="tab">Configurar Prestamo</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Modificar Prestamo</a></li>
    <li role="presentation"><a href="#indicador" aria-controls="indicador" role="tab" data-toggle="tab">Configurar Indicador General</a></li>
  
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
	<div role="tabpanel" class="tab-pane " id="indicador"> 
					<center>
			     	 <br>
			      	<div id="alertas"> <div class="alert alert-info"><h4><b>Configuracion de parametros para el Indicador General</b></h4></div></div>

			      </center> 
		<div class="row">
			<div class="col-md-3  well">
				<div class="btn-group-vertical" role="group" >
                     <button class="btn btn-default btn-sm ancho" type="button" id="indicador9">Solvencia                     </button> 
					 <button class="btn btn-default btn-sm ancho" type="button" id="indicador10">Liquidez </button>					 
					 <button class="btn btn-default btn-sm ancho" type="button" id="indicador11">Disponibilidad </button>
					 <button class="btn btn-default btn-sm ancho" type="button" id="indicador12">Endeudamiento Prestamos</button>
					 <button class="btn btn-default btn-sm ancho" type="button" id="indicador13">Endeudamiento patronal</button>
				</div>
			</div>
			  <div class="col-md-1">
			 </div>
			 <div class="col-md-8 well" id="contenedorIndicador" style="height:500px;">
			   <section id="contenedorEPA" style="display:none;">
			  			 <center>						 	
							 <h3>Endeudamiento Patronales</h3>
						 </center>
						 <hr>
						 <section id="resultadoEPA"></section>

						  <div class="row">
								<div class="col-md-6">
									<div class="form-group">
							          <label class="col-sm-5 control-label">Aporte por Cobrar:</label>
							          <div class="col-sm-7">
							                <input id="apcEP" type="text" class="form-control input-sm"   >
							          </div>
							      	</div>
						      	</div>
						      	<div class="col-md-6">
									<div class="form-group">
							          <label class="col-sm-5 control-label">Patrimonios</label>
							          <div class="col-sm-7">
							                <input id="pEP" type="text" class="form-control input-sm" >
							          </div>
							      	</div>
						      	</div>


							  </div>
							  <div class="row">
								<div class="col-md-4">
									<div class="col-md-4">
									  <button type="submit" class="btn btn-sm btn-default" id="RegistrarEPA" ><span class="glyphicon glyphicon-floppy-save"></span>Guardar</button>				
									</div>
								</div>
							  </div>

			  </section>

			  <section id="contenedorEP" style="display:none;">
			  			 <center>						 	
							 <h3>Endeudamiento Prestamos</h3>
						 </center>
						 <hr>
						 <section id="resultadoEP"></section>

						  <div class="row">
								<div class="col-md-6">
									<div class="form-group">
							          <label class="col-sm-5 control-label">Saldo De prestamos:</label>
							          <div class="col-sm-7">
							                <input id="sdEP" type="text" class="form-control input-sm"   >
							          </div>
							      	</div>
						      	</div>
						      	<div class="col-md-6">
									<div class="form-group">
							          <label class="col-sm-5 control-label">Haberes:</label>
							          <div class="col-sm-7">
							                <input id="hEP" type="text" class="form-control input-sm" >
							          </div>
							      	</div>
						      	</div>


							  </div>
							  <div class="row">
								<div class="col-md-4">
									<div class="col-md-4">
									  <button type="submit" class="btn btn-sm btn-default" id="RegistrarEP" ><span class="glyphicon glyphicon-floppy-save"></span>Guardar</button>				
									</div>
								</div>
							  </div>

			  </section>
			 <section id="contenedorSolvencia" style="display:none;">
						 <center>						 	
							 <h3>Solvencia</h3>
						 </center>
						 <hr>
						 <section id="resultadoSolvencia"></section>
					 	 <div class="row">
								<div class="col-md-6">
									<div class="form-group">
							          <label class="col-sm-5 control-label">Activo Circulante:</label>
							          <div class="col-sm-7">
							                <input id="aSolvencia" type="text" class="form-control input-sm"   >
							          </div>
							      	</div>
						      	</div>
						      	<div class="col-md-6">
									<div class="form-group">
							          <label class="col-sm-5 control-label">Pasivo Circulante:</label>
							          <div class="col-sm-7">
							                <input id="pSolvencia" type="text" class="form-control input-sm" >
							          </div>
							      	</div>
						      	</div>


							  </div>
							  <div class="row">
								<div class="col-md-4">
									<div class="col-md-4">
									  <button type="submit" class="btn btn-sm btn-default" id="RegistrarSolvencia" ><span class="glyphicon glyphicon-floppy-save"></span>Guardar</button>				
									</div>
								</div>
							  </div>

			 </section>
			 <section id="contenedorLiquidez" style="display:none;">
			 		<center>			 			
						 <h3>Liquidez</h3>
			 		</center>
			 		<hr>
			 		 <section id="resultadoliquidez"></section>
					 	 <div class="row">
								<div class="col-md-6">
									<div class="form-group">
							          <label class="col-sm-5 control-label">Efectivo:</label>
							          <div class="col-sm-7">
							                <input id="eLiquidez" type="text" class="form-control input-sm"   >
							          </div>
							      	</div>
						      	</div>
						      	<div class="col-md-6">
									<div class="form-group">
							          <label class="col-sm-5 control-label">Pasivo Circulante:</label>
							          <div class="col-sm-7">
							                <input id="pLiquidez" type="text" class="form-control input-sm" >
							          </div>
							      	</div>
						      	</div>


							  </div>
							  <div class="row">
								<div class="col-md-4">
									<div class="col-md-4">
									  <button type="submit" class="btn btn-sm btn-default" id="RegistrarLiquidez" ><span class="glyphicon glyphicon-floppy-save"></span>Guardar</button>				
									</div>
								</div>
							  </div>

			 </section>
			 <section id="contenedorDisponibilidad" style="display:none;">
					<center>
						<h3>Disponibilidad</h3>
					</center> 
					<hr>
			 		 <section id="resultadoDisponibilidad"></section>

			 		<div class="row">
						<div class="col-md-6">
							<div class="form-group">
					          <label class="col-sm-5 control-label">Efectivo:</label>
					          <div class="col-sm-7">
					                <input id="eDisponibilidad" type="text" class="form-control input-sm"   >
					          </div>
					      	</div>
				      	</div>
				      	<div class="col-md-6">
							<div class="form-group">
					          <label class="col-sm-5 control-label">Haberes:</label>
					          <div class="col-sm-7">
					                <input id="hDisponibilidad" type="text" class="form-control input-sm" >
					          </div>
					      	</div>
				      	</div>


					  </div>
					  <div class="row">
						<div class="col-md-4">
							<div class="col-md-4">
							  <button type="submit" class="btn btn-sm btn-default" id="RegistrarDisponibilidad" ><span class="glyphicon glyphicon-floppy-save"></span>Guardar</button>				
							</div>
						</div>
					  </div>
			 	
			 </section> 	 	
			     
			 </div>
		</div>
	</div>
  <div role="tabpanel" class="tab-pane " id="home2">    	
    	<form id="formregistro2" method="post" class="form-signin form-horizontal"  onsubmit="return false;">  
    			<br>
			      <center>
			      	<div id="alertas2"> <div class="alert alert-info"><h4><b>Configurar Prestamo</b></h4></div></div>
			      </center>   

			       <div class="row">
						<div class="col-md-12">
							<div class="form-group">
					          <label class="col-sm-2 control-label">Codigo:</label>
					          <div class="col-sm-7">
					                <input id="tcodigop" type="text" class="form-control input-sm"  name="codigo"  >
					          </div>
					      	</div>
					      	<div class="form-group">
					          <label class="col-sm-2 control-label">Tipo de prestamo:</label>
					          <div class="col-sm-7">
					                  <select  class="form-control input-sm"   name="tipoprestamo"  id="ttipoprestamo" >
										<option value="0"disabled selected> --Seleccione una opcion -- </option>
					               		<option value="1">Préstamos Personales</option>
					               		<option value="2">Préstamos Comerciales</option>
					               		<option value="3">Préstamos para la adquisicion de Vehiculos</option>	
					               		<option value="4">Préstamos Especiales o con Fianza</option>            		
					               		<option value="5">Préstamos Especiales sin Fiador</option> 
					               		<option value="6">Préstamos con Garantía Hipotecaria (Para adquisicion de vivienda)</option>
					               		<option value="7">Préstamos con Garantía Hipotecaria (Para remodelacion de vivienda)</option>             		

					               	  </select>
					          </div>
					      	</div>
					      	
					      	<div class="form-group">
					          <label class="col-sm-2 control-label">Taza de interés (%)</label>
					          <div class="col-sm-5">
					                <input id="ttasa" type="text" class="form-control input-sm"  name="tasa">
					          </div>
					          <label class="col-sm-2 control-label">Plazo Permitido:</label>
					          <div class="col-sm-3">
					                <input id="tplazo" type="text" class="form-control input-sm"  name="plazo">
					          </div>
					      	</div>
						
						
							<div class="form-group">
					          <label class="col-sm-2 control-label">Descripcion:</label>
					          <div class="col-sm-7">
					                <input id="tdescripcion" type="text" class="form-control input-sm"  name="descripcion">
					          </div>
					      	</div>
					      </div>
					</div>
					 <center>
				         <div class="row">
							<div class="col-md-4">
				                  <button type="submit" class="btn btn-sm btn-default" id="afiliarprestamo" disabled="true"><span class="glyphicon glyphicon-plus"></span>Registrar</button>				
							</div>
							<div class="col-md-4">
							</div>
							<div class="col-md-4">
				                  <button type="button" class="btn btn-sm btn-danger" id="cancelarprestamo"><span class="glyphicon glyphicon-remove"></span>Cancelar</button>				
							</div>
						</div>        	
			        </center>
		</form>
    </div>


    <div role="tabpanel" class="tab-pane" id="profile">    	 
    			<br>
			      <center>
			      	<div id="alertas2"> <div class="alert alert-info"><h4><b>Modificar Prestamo</b></h4></div></div>
			      </center>   


		      <center>
			       <div class="row">
						
						 <div class="col-md-8">
						 	<div class="form-group">
								<label class="col-sm-3 control-label">Código </label>
					          <div class="col-sm-4">
					              <input  id="codigobuscar" type="text" class="form-control input-sm" name="codigobuscar" >  
					          </div>
					          <div class="col-sm-4">
					             <button type="button" class="btn btn-sm btn-info" id="buscarprestamo"><span class="glyphicon glyphicon-search"></span>Buscar</button>	 
					          </div>
				          </div>
				    
						</div>
					</div>
					<section id="resultadomodificarprestamo"></section>
				</center>
		<br><hr>

			<form id="formmodificar" method="post" class="form-signin form-horizontal"  onsubmit="return false;">  
			       <div class="row">
						<div class="col-md-12">
							<div class="form-group">
					          <label class="col-sm-2 control-label">Codigo:</label>
					          <div class="col-sm-7">
					                <input id="tcodigo2" type="text" class="form-control input-sm"  name="codigo2"  disabled="true">
					          </div>
					      	</div>
					      	<div class="form-group">
					          <label class="col-sm-2 control-label">Tipo de prestamo:</label>
					          <div class="col-sm-7">
					                <select  class="form-control input-sm"    name="tipoprestamo2"  id="ttipoprestamo2" disabled="true" >
										<option value="0"disabled selected> --Seleccione una opcion -- </option>
					               		<option value="1">Préstamos Personales</option>
					               		<option value="2">Préstamos Comerciales</option>
					               		<option value="3">Préstamos para la adquisicion de Vehiculos</option>	
					               		<option value="4">Préstamos Especiales o con Fianza</option>           		
					               		<option value="5">Préstamos Especiales sin Fiador</option>
					               		<option value="6">Préstamos con Garantía Hipotecaria (Para adquisicion de vivienda)</option>
					               		<option value="7">Préstamos con Garantía Hipotecaria (Para remodelacion de vivienda)</option> 
					                </select>
					          </div>
					      	</div>
					      	
					      	<div class="form-group">
					          <label class="col-sm-2 control-label">Taza de interés (%)</label>
					          <div class="col-sm-5">
					                <input id="ttasa2" type="text" class="form-control input-sm"  name="tasa2" disabled="true">
					          </div>
					          <label class="col-sm-2 control-label">Plazo Permitido:</label>
					          <div class="col-sm-3">
					                <input id="tplazo2" type="text" class="form-control input-sm"  name="plazo2" disabled="true">
					          </div>
					      	</div>
						
						
							<div class="form-group">
					          <label class="col-sm-2 control-label">Descripcion:</label>
					          <div class="col-sm-7">
					                <input id="tdescripcion2" type="text" class="form-control input-sm"  name="descripcion2" disabled="true">
					          </div>
					      	</div>
					      </div>
					</div>
					 <center>
				         <div class="row">
							<div class="col-md-4">
				                  <button type="submit" class="btn btn-sm btn-default" id="modificarprestamo"><span class="glyphicon glyphicon-plus"></span>Modificar</button>				
							</div>
							<div class="col-md-4">
							</div>
							<div class="col-md-4">
				                  <button type="button" class="btn btn-sm btn-danger" id="eliminarprestamo"><span class="glyphicon glyphicon-remove"></span>Eliminar</button>				
							</div>
						</div>        	
			        </center>
		</form>

    </div>
    <div role="tabpanel" class="tab-pane active" id="home">    	
    	<form id="formregistro" method="post" class="form-signin form-horizontal"  onsubmit="return false;">  
    			<br>
			      <center>
			      	<div id="resultado"> <div class="alert alert-info"><h4><b>Registro de Usuario</b></h4></div></div>
			      </center>   

			       <div class="row">
						<div class="col-md-6">
							<div class="form-group">
					          <label class="col-sm-5 control-label">Cedula de Identidad:</label>
					          <div class="col-sm-7">
					                <input id="tc" type="text" class="form-control input-sm"  name="ci"  >
					          </div>
					      	</div>
					      	<div class="form-group">
					          <label class="col-sm-5 control-label">Nombre:</label>
					          <div class="col-sm-7">
					                <input id="tnombre" type="text" class="form-control input-sm"  name="nombre">
					          </div>
					      	</div>
					      	<div class="form-group">
					          <label class="col-sm-5 control-label">Tipo de Usuario:</label>
					          <div class="col-sm-7">
					                  <select  class="form-control input-sm"  name="tipo"  id="ttipo"  >
										<option value="0"disabled selected> --Seleccione una opcion -- </option>
					               		<option value="1">Administrador</option>
					               		<option value="3">Secretaria</option>
					               		<option value="2">Presidente</option>					               		
					               	  </select>
					          </div>
					      	</div>
					      	<div class="form-group">
					          <label class="col-sm-5 control-label">Nombre de usuario</label>
					          <div class="col-sm-7">
					                <input id="tusuario" type="text" class="form-control input-sm"  name="usuario">
					          </div>
					      	</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
					          <label class="col-sm-5 control-label">Codigo del Usuario:</label>
					          <div class="col-sm-7">
					                <input id="tcodigo" type="text" class="form-control input-sm"  name="codigo"  disabled="true">
					          </div>
					      	</div>
					      	<div class="form-group">
					          <label class="col-sm-5 control-label">Apellido:</label>
					          <div class="col-sm-7">
					                <input id="tapellido" type="text" class="form-control input-sm"  name="apellido"  >
					          </div>
					      	</div>
					      	<div class="form-group">
					          <label class="col-sm-5 control-label">Contraseña:</label>
					          <div class="col-sm-7">
					                <input id="pass" type="text" class="form-control input-sm"  name="pass"  >
					          </div>
					      	</div>
						</div>
					</div>
					 <center>
				         <div class="row">
							<div class="col-md-4">
				                  <button type="submit" class="btn btn-sm btn-default" id="afiliar" disabled="true"><span class="glyphicon glyphicon-plus"></span>Registrar</button>				
							</div>
							<div class="col-md-4">
							</div>
							<div class="col-md-4">
				                  <button type="button" class="btn btn-sm btn-danger" id="cancelar"><span class="glyphicon glyphicon-remove"></span>Cancelar</button>				
							</div>
						</div>        	
			        </center>
		</form>
    </div>
    <div role="tabpanel" class="tab-pane" id="listado"> 
    	<h1>Listado de Usuarios </h1> 
    	<center>
    		<section id="resultado2"></section>
    	<section id="listadousuarios">
    		
    	</section>
    	</center>
    </div>
    <div role="tabpanel" class="tab-pane" id="habilitar"> 
    	 <center>
	 	 <br>
	  	<div id="alertas"> <div class="alert alert-info"><h4><b>Habilitar Socio como usuario</b></h4></div></div>
			<hr>
	  </center> 

		<form id="formBuscarSocio" method="post" class="form-signin form-horizontal"  onsubmit="return false;"> 
			<div class="row">
			    <div class="col-md-8 col-xs-8 col-sm-8">
						    		<div class="form-group">
						                 <label class="col-sm-5 control-label">Buscar Cedula</label>
						                  <div class="col-sm-5">
									              <input  id="tBuscarcedula" type="text" class="form-control input-sm" name="Buscarcedula" />
						                  </div>
						              </div>
						    </div>
						    <div class="col-md-2 col-xs-2 col-sm-2"></div>
						    <div class="col-md-2 col-xs-2 col-sm-2">
						    	<button type="submit" class="btn btn-sm btn-info" id="buscar"><span class="glyphicon glyphicon-search"></span>Buscar</button>
						    </div>
			</div>
		 </form>
			<section id="resultadobusquedasocio"></section>
		<section id="paneldatosSocio" style="display:none;">
			<form id="formregistroSociocomousuario" method="post" class="form-signin form-horizontal"  onsubmit="return false;">  
			       <div class="row">      	
						<div class="col-md-6">
							<div class="form-group">
					          <label class="col-sm-5 control-label">Cedula de Identidad:</label>
					          <div class="col-sm-7">
					                <input id="tc3" type="text" class="form-control input-sm"  name="ci3"  disabled="true">
					          </div>
					      	</div>
					      	<div class="form-group">
					          <label class="col-sm-5 control-label">Nombre:</label>
					          <div class="col-sm-7">
					                <input id="tnombre3" type="text" class="form-control input-sm"  name="nombre3" disabled="true">
					          </div>
					      	</div>
					      	
					      	<div class="form-group">
					          <label class="col-sm-5 control-label">Nombre de usuario</label>
					          <div class="col-sm-7">
					                <input id="tusuario3" type="text" class="form-control input-sm"  name="usuario3">
					          </div>
					      	</div>
					      	<div class="form-group">
					          <label class="col-sm-5 control-label">Contraseña:</label>
					          <div class="col-sm-7">
					                <input id="pass3" type="text" class="form-control input-sm"  name="pass3"  >
					          </div>
					      	</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
					          <label class="col-sm-5 control-label">Codigo del Socio:</label>
					          <div class="col-sm-7">
					                <input id="tcodigo3" type="text" class="form-control input-sm"  name="codigo3"  disabled="true">
					          </div>
					      	</div>
					      	<div class="form-group">
					          <label class="col-sm-5 control-label">Apellido:</label>
					          <div class="col-sm-7">
					                <input id="tapellido3" type="text" class="form-control input-sm"  name="apellido3" disabled="true"  >
					          </div>
					      	</div>
					      	<div class="form-group">
					          <label class="col-sm-5 control-label">Tipo de Usuario:</label>
					          <div class="col-sm-7">
					                  <select  class="form-control input-sm"  name="tipo3"  id="ttipo3"  >
					               		<option value="4" selected>Usuario Socio</option>
					               						               		
					               	  </select>
					          </div>
					      	</div>
						</div>
					</div>

					 <center>
				         <div class="row">
							<div class="col-md-4">
				                  <button type="submit" class="btn btn-sm btn-default" id="Habilitar"><span class="glyphicon glyphicon-plus"></span>Habilitar</button>				
							</div>
							<div class="col-md-4">
							</div>
							<div class="col-md-4">
				                  <button type="button" class="btn btn-sm btn-danger" id="cancelar2"><span class="glyphicon glyphicon-remove"></span>Cancelar</button>				
							</div>
						</div>        	
			        </center>
				</form>
		</section>
    </div>
    
  </div>

</div>


<div class="modal fade" id="modalModificar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Editar/Eliminar Usuario</h4>
      </div>
      <div class="modal-body">
      	<section id="alertamodificar"></section>
			       <div class="row">      	
						<div class="col-md-6">
							<div class="form-group">
					          <label class="col-sm-5 control-label">Cedula de Identidad:</label>
					          <div class="col-sm-7">
					                <input id="tc2" type="text" class="form-control input-sm"  name="ci2"  >
					          </div>
					      	</div>
					      	<div class="form-group">
					          <label class="col-sm-5 control-label">Nombre:</label>
					          <div class="col-sm-7">
					                <input id="tnombre2" type="text" class="form-control input-sm"  name="nombre2">
					          </div>
					      	</div>
					      	
					      	<div class="form-group">
					          <label class="col-sm-5 control-label">Nombre de usuario</label>
					          <div class="col-sm-7">
					                <input id="tusuario2" type="text" class="form-control input-sm"  name="usuario2">
					          </div>
					      	</div>
					      	<div class="form-group">
					          <label class="col-sm-5 control-label">Contraseña:</label>
					          <div class="col-sm-7">
					                <input id="pass2" type="text" class="form-control input-sm"  name="pass2"  >
					          </div>
					      	</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
					          <label class="col-sm-5 control-label">Codigo del Usuario:</label>
					          <div class="col-sm-7">
					                <input id="tcodigo2" type="text" class="form-control input-sm"  name="codigo2"  disabled="true">
					          </div>
					      	</div>
					      	<div class="form-group">
					          <label class="col-sm-5 control-label">Apellido:</label>
					          <div class="col-sm-7">
					                <input id="tapellido2" type="text" class="form-control input-sm"  name="apellido2"  >
					          </div>
					      	</div>
					      	<div class="form-group" id="tipodeusuario">
					          <label class="col-sm-5 control-label">Tipo de Usuario:</label>
					          <div class="col-sm-7">
					                  <select  class="form-control input-sm"  name="tipo2"  id="ttipo2"  >
										<option value="0"disabled selected> --Seleccione una opcion -- </option>
					               		<option value="1">Administrador</option>
					               		<option value="2">Secretaria</option>
					               		<option value="3">Presidente</option>					               		
					               	  </select>
					          </div>
					      	</div>
						</div>
					</div>
    	</div>
    	
      <div class="modal-footer" id="footer">
       
      </div>
    </div>
  </div>
</div>


 <script type="text/javascript" src="js/formValidation.js"></script>
<script type="text/javascript" src="js/framework/bootstrap.js"></script>
 <script type="text/javascript">
 $(document).ready(function() {
 	var tipo=0;

 	/*	$('#formmodificar').formValidation({
			        framework: 'bootstrap',
			        icon: {
			            valid: 'glyphicon glyphicon-ok',
			            invalid: 'glyphicon glyphicon-remove',
			            validating: 'glyphicon glyphicon-refresh'
			        },
			        fields: {
			        		 codigo2: {
			                    validators: {
			                        notEmpty: {
			                             message: 'Se requiere este campo'
			                        }                
			                    }
			                },
			        		tipoprestamo2:{
				        		validators: {
				                	notEmpty: {
				                            message: 'Se requiere este campo'
				                     }
								 }
						    },
						    tasa2:{
				        		validators: {
				                	notEmpty: {
				                            message: 'Se requiere este campo'
				                     },digits: {
							             message: 'Por favor introduce sólo dígitos'
							        },
					         		stringLength: {
			                       		 max: 3,
			                        	message: 'Por favor introduce menos de %s caracteres'
			                    	}                     
								 }
						    },					    

						    plazo2:{
				        		validators: {
				                	notEmpty: {
				                            message: 'Se requiere este campo'
				                     },digits: {
							             message: 'Por favor introduce sólo dígitos'
							        },
					         		stringLength: {
			                       		 max: 3,
			                        	message: 'Por favor introduce menos de %s caracteres'
			                    	}                     
		                         }
						    },
					         descripcion2: {
					                validators: {
					                	notEmpty: {
					                            message: 'Se requiere este campo'
					                     }
					                }
					            }
			        }
			    })
		        .on('success.field.fv', function(e, data) {		
		        	 if (!data.fv.isValid()) {    
		           			 data.fv.disableSubmitButtons(true);             
			              
			            }
			             
		        });*/

    $('#formregistro2').formValidation({
			        framework: 'bootstrap',
			        icon: {
			            valid: 'glyphicon glyphicon-ok',
			            invalid: 'glyphicon glyphicon-remove',
			            validating: 'glyphicon glyphicon-refresh'
			        },
			        fields: {
			        		 codigo: {
			                    validators: {
			                        notEmpty: {
			                             message: 'Se requiere este campo'
			                        }                
			                    }
			                },
			        		tipoprestamo:{
				        		validators: {
				                	notEmpty: {
				                            message: 'Se requiere este campo'
				                     }
								 }
						    },
						    tasa:{
				        		validators: {
				                	notEmpty: {
				                            message: 'Se requiere este campo'
				                     },digits: {
							             message: 'Por favor introduce sólo dígitos'
							        },
					         		stringLength: {
			                       		 max: 3,
			                        	message: 'Por favor introduce menos de %s caracteres'
			                    	}                     
								 }
						    },					    

						    plazo:{
				        		validators: {
				                	notEmpty: {
				                            message: 'Se requiere este campo'
				                     },digits: {
							             message: 'Por favor introduce sólo dígitos'
							        },
					         		stringLength: {
			                       		 max: 3,
			                        	message: 'Por favor introduce menos de %s caracteres'
			                    	}                     
		                         }
						    },
					         descripcion: {
					                validators: {
					                	notEmpty: {
					                            message: 'Se requiere este campo'
					                     }
					                }
					            }
			        }
			    })
		        .on('success.field.fv', function(e, data) {		
		        	 if (!data.fv.isValid()) {    // There is invalid field
		           			 data.fv.disableSubmitButtons(true);     
			              	
			            }

		        });

$('#formregistro').formValidation({
			        framework: 'bootstrap',
			        icon: {
			            valid: 'glyphicon glyphicon-ok',
			            invalid: 'glyphicon glyphicon-remove',
			            validating: 'glyphicon glyphicon-refresh'
			        },
			        fields: {
			        		 ci: {
			                    validators: {
			                        notEmpty: {
			                             message: 'Se requiere este campo'
			                        },
			                        digits: {
							             message: 'Por favor introduce sólo dígitos'
							        },
					         		stringLength: {
			                       		 max: 8,
			                        	message: 'Por favor introduce menos de %s caracteres'
			                    	}                     
			                    }
			                },
			        		nombre:{
				        		validators: {
				                	notEmpty: {
				                            message: 'Se requiere este campo'
				                     },
		                          regexp: {
				                        regexp: /^[a-z\s]+$/i,
				                        message: 'Solo se permiten letras de a-z, A-Z'
				                    }
								 }
						    },
						    apellido:{
				        		validators: {
				                	notEmpty: {
				                            message: 'Se requiere este campo'
				                     },
		                          regexp: {
				                        regexp: /^[a-z\s]+$/i,
				                        message: 'Solo se permiten letras de a-z, A-Z'
				                    }
								 }
						    },
						    

						    tipo:{
				        		validators: {
				                	notEmpty: {
				                            message: 'Se requiere este campo'
				                     },
		                         }
						    },
					            usuario: {
					                validators: {
					                	notEmpty: {
					                            message: 'Se requiere este campo'
					                     }
					                }
					            }
					            ,
					            pass: {
					                validators: {
					                	notEmpty: {
					                            message: 'Se requiere este campo'
					                     }
					                }
					            }
			        }
			    })
		        .on('success.field.fv', function(e, data) {		
		        	 if (!data.fv.isValid()) {    // There is invalid field
		           			 data.fv.disableSubmitButtons(true);     
			              
			            }
		        });
     registrarUsuario2();
     eventosindicadores();
     function ObtenerSolvencia(){
     		$.ajax
		        ({
		          type: "POST",
		          url: "controlador/controladorindicadorgeneral.php",
		          data: {id:2},
		          async: false,  
		          dataType: "json",  
		          success:
		          function (msg) 
			        { 
			        	aSolvencia.value=msg[0].activo;
			        	pSolvencia.value=msg[0].pasivo;		        	
			        	

			        },
		          error:
		          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
		        });
     }

     function GuardarSolvencia(){
     	$('#RegistrarSolvencia').on('click',  function(){
	     	$.ajax
			        ({
			          type: "POST",
			          url: "controlador/controladorindicadorgeneral.php",
			          data: {id:1, activo:aSolvencia.value, pasivo:pSolvencia.value},
			          async: false,  
			          dataType: "json",  
			          success:
			          function (msg) 
				        { 
		        	     	console.log(msg);
				        	if(msg=="true"){
				        		resultadoSolvencia.innerHTML='<div class="alert alert-success alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Se ha Guardado correctamente!</div>';
				        	}

				        },
			          error:
			          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
			        });
		   });
     }


      function Obtenerliquidez(){
     		$.ajax
		        ({
		          type: "POST",
		          url: "controlador/controladorindicadorgeneral.php",
		          data: {id:4},
		          async: false,  
		          dataType: "json",  
		          success:
		          function (msg) 
			        { 
			        	eLiquidez.value=msg[0].efectivo;
			        	pLiquidez.value=msg[0].pasivo;		        	
			        	

			        },
		          error:
		          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
		        });
     }

     function Guardarliquidez(){
     	$('#RegistrarLiquidez').on('click',  function(){
	     	$.ajax
			        ({
			          type: "POST",
			          url: "controlador/controladorindicadorgeneral.php",
			          data: {id:3, efectivo:eLiquidez.value, pasivo:pLiquidez.value},
			          async: false,  
			          dataType: "json",  
			          success:
			          function (msg) 
				        { 
		        	     	console.log(msg);
				        	if(msg=="true"){
				        		resultadoliquidez.innerHTML='<div class="alert alert-success alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Se ha Guardado correctamente!</div>';
				        	}

				        },
			          error:
			          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
			        });
		   });
     }


      function ObtenerDisponibilidad(){
     		$.ajax
		        ({
		          type: "POST",
		          url: "controlador/controladorindicadorgeneral.php",
		          data: {id:6},
		          async: false,  
		          dataType: "json",  
		          success:
		          function (msg) 
			        { 
			        	eDisponibilidad.value=msg[0].efectivo;
			        	hDisponibilidad.value=msg[0].haberes;		        	
			        	

			        },
		          error:
		          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
		        });
     }

     function GuardarDisponibilidad(){
     	$('#RegistrarDisponibilidad').on('click',  function(){
	     	$.ajax
			        ({
			          type: "POST",
			          url: "controlador/controladorindicadorgeneral.php",
			          data: {id:5, efectivo:eDisponibilidad.value, haberes:hDisponibilidad.value},
			          async: false,  
			          dataType: "json",  
			          success:
			          function (msg) 
				        { 
		        	     	console.log(msg);
				        	if(msg=="true"){
				        		resultadoDisponibilidad.innerHTML='<div class="alert alert-success alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Se ha Guardado correctamente!</div>';
				        	}

				        },
			          error:
			          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
			        });
		   });
     }


       function ObtenerEP(){
     		$.ajax
		        ({
		          type: "POST",
		          url: "controlador/controladorindicadorgeneral.php",
		          data: {id:8},
		          async: false,  
		          dataType: "json",  
		          success:
		          function (msg) 
			        { 
			        	
			        	sdEP.value=msg[0].saldo;
			        	hEP.value=msg[0].haberes;	        	
			        	

			        },
		          error:
		          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
		        });
     }

     function GuardarEP(){
     	$('#RegistrarEP').on('click',  function(){
	     	$.ajax
			        ({
			          type: "POST",
			          url: "controlador/controladorindicadorgeneral.php",
			          data: {id:7, saldo:sdEP.value, haberes:hEP.value},
			          async: false,  
			          dataType: "json",  
			          success:
			          function (msg) 
				        { 
		        	     	console.log(msg);
				        	if(msg=="true"){
				        		resultadoEP.innerHTML='<div class="alert alert-success alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Se ha Guardado correctamente!</div>';
				        	}

				        },
			          error:
			          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
			        });
		   });
     }

      function ObtenerEPA(){
     		$.ajax
		        ({
		          type: "POST",
		          url: "controlador/controladorindicadorgeneral.php",
		          data: {id:10},
		          async: false,  
		          dataType: "json",  
		          success:
		          function (msg) 
			        { 
			        	
			        	apcEP.value=msg[0].porcobrar;
			        	pEP.value=msg[0].patrimonios;	        	
			        	

			        },
		          error:
		          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
		        });
     }

     function GuardarEPA(){
     	$('#RegistrarEPA').on('click',  function(){
	     	$.ajax
			        ({
			          type: "POST",
			          url: "controlador/controladorindicadorgeneral.php",
			          data: {id:9, saldo:apcEP.value, haberes:pEP.value},
			          async: false,  
			          dataType: "json",  
			          success:
			          function (msg) 
				        { 
		        	     	console.log(msg);
				        	if(msg=="true"){
				        		resultadoEPA.innerHTML='<div class="alert alert-success alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Se ha Guardado correctamente!</div>';
				        	}

				        },
			          error:
			          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
			        });
		   });
     }
     function eventosindicadores(){
     	$('#indicador9').on('click',  function(){
			console.log("Solvencia");
			$('#contenedorSolvencia').fadeIn();
			$('#contenedorLiquidez').fadeOut();
			$('#contenedorDisponibilidad').fadeOut();
			$('#contenedorEP').fadeOut();
			$('#contenedorEPA').fadeOut();
			ObtenerSolvencia();
			GuardarSolvencia();
			resultadoSolvencia.innerHTML='';


		});
		$('#indicador10').on('click',  function(){
			console.log("Liquidez");
			resultadoliquidez.innerHTML='';
			$('#contenedorSolvencia').fadeOut();
			$('#contenedorLiquidez').fadeIn();
			$('#contenedorDisponibilidad').fadeOut();
			$('#contenedorEP').fadeOut();
			$('#contenedorEPA').fadeOut();


			Obtenerliquidez();
			Guardarliquidez();

			
		});
		$('#indicador11').on('click',  function(){
			console.log("Disponibilidad");
			resultadoDisponibilidad.innerHTML='';
			$('#contenedorSolvencia').fadeOut();
			$('#contenedorLiquidez').fadeOut();
			$('#contenedorDisponibilidad').fadeIn();
			$('#contenedorEP').fadeOut();
			$('#contenedorEPA').fadeOut();


			ObtenerDisponibilidad();
			GuardarDisponibilidad();


			
		});

		$('#indicador12').on('click',  function(){
			console.log("Disponibilidad");
			resultadoDisponibilidad.innerHTML='';
			$('#contenedorSolvencia').fadeOut();
			$('#contenedorLiquidez').fadeOut();
			$('#contenedorDisponibilidad').fadeOut();
			$('#contenedorEP').fadeIn();
			$('#contenedorEPA').fadeOut();
			ObtenerEP();
			GuardarEP();

					
		});


		$('#indicador13').on('click',  function(){
			console.log("Disponibilidad");
			resultadoDisponibilidad.innerHTML='';
			$('#contenedorSolvencia').fadeOut();
			$('#contenedorLiquidez').fadeOut();
			$('#contenedorDisponibilidad').fadeOut();
			$('#contenedorEP').fadeOut();

			$('#contenedorEPA').fadeIn();
			ObtenerEPA();
			GuardarEPA();

			
			
		});
     }
	 function registrarUsuario2(){
		 	Buscar();
		 	 modificar();
		 	$('#cancelarprestamo').on('click',  function(){
		 					tcodigop.value="";
			        		ttipoprestamo.value="";
			        		ttasa.value="";
			        		tplazo.value=""; 
			        		tdescripcion.value="";

							$('.form-group').removeClass('has-success');
							$('.form-group').removeClass('has-error');
							$('.form-group').removeClass('has-error has-feedback');
							$('.form-group').find('small.help-block').hide();
							$('.form-group').find('i.form-control input-sm-feedback').hide();
							$('.form-group').find('i.form-control-feedback').hide();

		 	});


		 	$('#eliminarprestamo').on('click',  function(){
	 			$.ajax
		        ({
		          type: "POST",
		          url: "controlador/controladorPrestamo.php",
		          data: {id:3, codigo:tcodigo2.value},
		          async: false,  
		          dataType: "json",  
		          success:
		          function (msg) 
			        { 
			        	console.log("codigo: "+tcodigo2.value);
						if(msg=="true"){
							resultado.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Se ha eliminado correctamente!</div>';
							tcodigo2.value="";
			        		ttipoprestamo2.value="";
			        		ttasa2.value="";
			        		tplazo2.value=""; 
			        		tdescripcion2.value="";

							$('.form-group').removeClass('has-success');
							$('.form-group').removeClass('has-error');
							$('.form-group').removeClass('has-error has-feedback');
							$('.form-group').find('small.help-block').hide();
							$('.form-group').find('i.form-control input-sm-feedback').hide();
							$('.form-group').find('i.form-control-feedback').hide();
						}			        	
			        	

			        },
		          error:
		          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
		        });
		});

		 	$('#afiliarprestamo').on('click',  function(){
			    		$.ajax
				        ({
				          type: "POST",
				          url: "controlador/controladorPrestamo.php",
				          data: {id:1, codigo:tcodigop.value, tipo:ttipoprestamo.value, tasa:ttasa.value, plazo:tplazo.value, descripcion:tdescripcion.value},
				          async: false,  
				          dataType: "json",  
				          success:
				          function (msg) 
					        { 
								console.log(msg);			        	
					        	
					        	if(msg=="true"){
					        		tcodigo.value="";
					        		ttipoprestamo.value="";
					        		ttasa.value="";
					        		tplazo.value=""; 
					        		tdescripcion.value="";


									$('.form-group').removeClass('has-success');
									$('.form-group').removeClass('has-error');
									$('.form-group').removeClass('has-error has-feedback');
									$('.form-group').find('small.help-block').hide();
									$('.form-group').find('i.form-control input-sm-feedback').hide();
									$('.form-group').find('i.form-control-feedback').hide();

					        	}


					        },
				          error:
				          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
				        });
		    	});
		 }
		 function encode_utf8(s) { 

			 return unescape(encodeURIComponent(s)); 

			} 
		 function Buscar(){
		 	$('#buscarprestamo').on('click',  function(){
		 		console.log("click en buscar");
		 		if(codigobuscar.value!=""){
		 			$.ajax
		        ({
		          type: "POST",
		          url: "controlador/controladorPrestamo.php",
		          data: {id:4, codigo:codigobuscar.value},
		          async: false,  
		          dataType: "json",  
		          success:
		          function (msg) 
			        { 
						console.log(msg);			        	
			        	
			        	if(msg[0].m==1){
			        		resultado.innerHTML='';
							$('#ttipoprestamo2').attr('disabled', false); 
							$('#ttasa2').attr('disabled', false);
							$('#tplazo2').attr('disabled', false);
							$('#tdescripcion2').attr('disabled', false);
							tcodigo2.value=msg[0].codigo;
			        		ttipoprestamo2.value=msg[0].tipo;
			        		ttasa2.value=msg[0].tasa;
			        		tplazo2.value=msg[0].plazo; 
			        		tdescripcion2.value=msg[0].descripcion;  

			        	}
			        	if(msg[0].m==0){
							resultado.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Codigo no encontrado!</div>';
							$('#ttipoprestamo2').attr('disabled', true); 
							$('#ttasa2').attr('disabled', true);
							$('#tplazo2').attr('disabled', true);
							$('#tdescripcion2').attr('disabled', true);
			        	}


			        },
		          error:
		          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
		        });
		 		}
		 		else{
					resultado.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Debes escribir un codigo!</div>';
							$('#ttipoprestamo2').attr('disabled', true); 
							$('#ttasa2').attr('disabled', true);
							$('#tplazo2').attr('disabled', true);
							$('#tdescripcion2').attr('disabled', true);

		 		}
			});
	}

	function modificar(){
		 	$('#modificarprestamo').on('click',  function(){
		 			$.ajax
		        ({
		          type: "POST",
		          url: "controlador/controladorPrestamo.php",
		          data: {id:2, codigo:tcodigo2.value, tipo:ttipoprestamo2.value, tasa:ttasa2.value, plazo:tplazo2.value, descripcion:tdescripcion2.value},
		          async: false,  
		          dataType: "json",  
		          success:
		          function (msg) 
			        { 
			        	console.log("codigo: "+tcodigo2.value);
			        	console.log(msg);
						if(msg=="true"){
							resultadomodificarprestamo.innerHTML='<div class="alert alert-success alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Se ha actualizado correctamente!</div>';

						}			        	
			        	

			        },
		          error:
		          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
		        });
			});
	}
		   registrarUsuario();
		   buscarsocio();
		   cancelarREgistrosocio();
		   habilitarSocio();
		   function cancelarREgistrosocio(){
		   		$('#cancelar2').on('click',  function(){
 						tc3.value="";
						tnombre3.value="";
						tapellido3.value="";
 						tcodigo3.value="";
 						tusuario3.value="";
 						pass3.value="";
 						tBuscarcedula.value="";
	            		resultadobusquedasocio.innerHTML='';
 						$('#paneldatosSocio').fadeOut();	

				        
		 	});
		   }
		  function habilitarSocio(){
		  	$('#Habilitar').on('click',  function(){
		  		console.log("click en habilitar socio");

		  		if(tusuario3.value!=""){
		  			if(pass3.value!=""){
		  				$.ajax
					        ({
					          type: "POST",
					          url: "controlador/controladorusuario.php",
					          data: {id:1, cedula:tc3.value, nombre:tnombre3.value, apellido:tapellido3.value, usuario:tusuario3.value, pass:pass3.value, tipo:ttipo3.value},
					          async: false,  
					          dataType: "json",  
					          success:
					          function (msg) 
						        { 
									console.log(msg);			        	
						        	
						        	if(msg=="true"){

							        	tc3.value="";
										tnombre3.value="";
										tapellido3.value="";
				 						tcodigo3.value="";
				 						tusuario3.value="";
				 						pass3.value="";
				 						tBuscarcedula.value="";
				 						$('#paneldatosSocio').fadeOut();
							        	

										resultadobusquedasocio.innerHTML='<div class="alert alert-success alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Se ha registrado correctamente!</div>';
						        	}
						        	if(msg=="repetido"){
						        		resultadobusquedasocio.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Este socio ya esta habilitado como usuario  intente con otro socio!</div>';
						        	}


						        },
					          error:
					          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
					        });
			  		}else{
			  			 resultadobusquedasocio.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button><center>¡Debe escribir un password!</center></div>';
			  		}
		  		}else{
		  			 resultadobusquedasocio.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button><center>¡Debe escribir un nombre de usuario!</center></div>';
		  		}
		  	});
		  }
		 function buscarsocio(){
		 	$('#buscar').on('click',  function(){
		 		console.log("click en buscar socio:" +tBuscarcedula.value);
		 		if(tBuscarcedula.value!=""){
				  $.ajax
			          ({
			            type: "POST",
			            url: "controlador/controladorSocio.php",
			            data: {id:5, cedula:tBuscarcedula.value},
			            async: false,  
			            dataType: "json",  
			            success:
			            function (msg) 	
			            { 
			              console.log("resultado de la buscqueda: "+msg);
			            	if(msg[0].m>0){
			            		$('#paneldatosSocio').fadeIn();	
			            		resultadobusquedasocio.innerHTML='';
								tc3.value=msg[0].cedula;
								tnombre3.value=msg[0].nombres;
								tapellido3.value=msg[0].apellidos;
         						tcodigo3.value=msg[0].idsocio;

			            	}
			            	else{
			                    resultadobusquedasocio.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button><center>¡No se ha encontrado el socio!</center></div>';
			            			$('#paneldatosSocio').fadeOut();	


			            	}
			             
			                   
			            },
			            error:
			            function (msg) {console.log( msg +" No se pudo realizar la conexion");}
			          });
			 		}
			 		else{
			 			 resultadobusquedasocio.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button><center>¡Escriba una cedula valida!</center></div>';
			            		$('#paneldatosSocio').fadeOut();	

			 		}
				});
		 }
		 function registrarUsuario(){
		 	$('#cancelar').on('click',  function(){
		 					tnombre.value="";
				        	tapellido.value=""; 
				        	tusuario.value=""; 
				        	pass.value="";
				        	tc.value="";

				        	$('#ttipo').val(0);

							$('.form-group').removeClass('has-success');
							$('.form-group').removeClass('has-error');
							$('.form-group').removeClass('has-error has-feedback');
							$('.form-group').find('small.help-block').hide();
							$('.form-group').find('i.form-control input-sm-feedback').hide();
							$('.form-group').find('i.form-control-feedback').hide();

		 	});
		 	$('#listado2').on('click',  function(){
		 		listar();

		 	});
		 	$('#afiliar').on('click',  function(){
	    		$.ajax
		        ({
		          type: "POST",
		          url: "controlador/controladorusuario.php",
		          data: {id:1, cedula:tc.value, nombre:tnombre.value, apellido:tapellido.value, usuario:tusuario.value, pass:pass.value, tipo:ttipo.value},
		          async: false,  
		          dataType: "json",  
		          success:
		          function (msg) 
			        { 
						console.log(msg);			        	
			        	
			        	if(msg=="true"){

				        	tnombre.value="";
				        	tapellido.value=""; 
				        	tusuario.value=""; 
				        	pass.value="";
				        	tc.value="";

				        	$('#ttipo').val(0);

							$('.form-group').removeClass('has-success');
							$('.form-group').removeClass('has-error');
							$('.form-group').removeClass('has-error has-feedback');
							$('.form-group').find('small.help-block').hide();
							$('.form-group').find('i.form-control input-sm-feedback').hide();
							resultado.innerHTML='<div class="alert alert-success alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Se ha registrado correctamente!</div>';
			        	}
			        	if(msg=="repetido"){
			        		resultado.innerHTML='<div class="alert alert-warning alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Cedula o nombre de usuario repetido!</div>';
			        	}


			        },
		          error:
		          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
		        });
    	});
		 }

		 function listar(){
		 	$.ajax
		        ({
		          type: "POST",
		          url: "controlador/controladorusuario.php",
		          data: {id:3},
		          async: false,  
		          dataType: "json",  
		          success:
		          function (msg) 
			        { 
			        	console.log(msg[0].m);
						$('#listadousuarios').html("");                        
						var table = $('<table class="table" style="width:80%; padding-left:10%;" ></table>');                   
						var row=$('<thead></thead>').append("<tr></tr>");
						$('#listadousuarios').append(listarusuarios(msg, table, row));   
						editarEliminar();
						
				
			        },
		          error: function(jqXHR, textStatus, errorThrown) {
									  console.log(textStatus, errorThrown);
									}
		        });
		 }
		 function listarusuarios(msg, table, row){
    		    row.append($('<th></th>').html("Cedula"));
                row.append($('<th></th>').html("<b>Nombre</b>"));                            
                row.append($('<th></th>').html("<b>Apellido</b>"));
                row.append($('<th></th>').html("<b>Usuario</b>"));
                row.append($('<th></th>').html("<b>Tipo</b>"));
                row.append($('<th></th>').html("<b>Opciones</b>"));                
                table.append(row);  
                var row2 = $('<tbody></tbody>');
                for(i=0; i<msg[0].m; i++){			                   
			                var row3=$('<tr></tr>');
			                var fila0=$('<td></td>').text(msg[i].cedula);
			                var fila1 = $('<td></td>').text(msg[i].nombre);
			                var fila2 = $('<td></td>').text(msg[i].apellido);
			                var fila3 = $('<td></td>').text(msg[i].usuario);
			                var tipo="";
			                if(msg[i].tipo=="1"||msg[i].tipo==1){
			                      	tipo="Administrador";
			                }
			                 if(msg[i].tipo=="2"||msg[i].tipo==2){
			                	tipo="Presidente/Cons.Adm";
			                } if(msg[i].tipo=="3"||msg[i].tipo==3){
			                   	tipo="Secretaria";
			                }
			                if(msg[i].tipo=="4"||msg[i].tipo==4){
			                   	tipo="Usuario Socio";
			                }
			                var tipo2 = $('<td></td>').text(tipo);

			                var fila5 = $('<td></td>').append('<a  class="editar btn btn-primary btn-sm" title="Editar/Eliminar" name="'+msg[i].idusuario+'"> <span class="glyphicon glyphicon-cog"></span></a>');
								// fila5.append('<a class="eliminar btn btn-danger btn-sm" data-toggle="modal" type="button"  data-target="#modaleliminarArea"  title="Eliminar" name="'+msg[i].idusuario+'"> <span class="glyphicon glyphicon-remove"></span></a>');

			                row3.append(fila0);
			                row3.append(fila1);
			                row3.append(fila2);
			                row3.append(fila3);
			                row3.append(tipo2);

			                row3.append(fila5);
			                row2.append(row3);             
                }
                table.append(row2);
                return table;
    	}

    	function editarEliminar(){
					$('.editar').on('click',  function(){
			      		var idE=$(this).attr('name');
						obtener(idE);
						$('#modalModificar').modal('show');
						$('.actualizar').on('click',  function(){
									console.log("click en actualizar");
								if(validarFormulario()&&tipo==4){
									$.ajax
							        ({
							          type: "POST",
							          url: "controlador/controladorusuario.php",
							          data: {id:6, idU:idE, cedula:tc2.value, nombre:tnombre2.value, apellido:tapellido2.value, usuario:tusuario2.value, pass:pass2.value, tipo:4},
							          async: false,  
							          dataType: "json",  
							          success:
							          function (msg) 
								        { 
								        	console.log("resultado de la modificacion: "+msg);
								        	if(msg=="true"){
												listar();
									        		$('#modalModificar').modal('hide');
									        		resultado2.innerHTML='<div class="alert alert-success alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Se ha actualizado correctamente!</div>';
									        		alertamodificar.innerHTML='';
								        	}   
								        	else{
									        		alertamodificar.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Cedula o nombre de usuario Repetido!</div>';

								        	} 
									
								        },
							          error:
							          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
							        });
								}else if(validarFormulario()&&tipo!=4){
									$.ajax
							        ({
							          type: "POST",
							          url: "controlador/controladorusuario.php",
							          data: {id:6, idU:idE, cedula:tc2.value, nombre:tnombre2.value, apellido:tapellido2.value, usuario:tusuario2.value, pass:pass2.value, tipo:ttipo2.value},
							          async: false,  
							          dataType: "json",  
							          success:
							          function (msg) 
								        { 
								        	console.log("resultado de la modificacion: "+msg);

								        	if(msg=="true"){
												listar();
									        		$('#modalModificar').modal('hide');
									        		resultado2.innerHTML='<div class="alert alert-success alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Se ha actualizado correctamente!</div>';
									        		alertamodificar.innerHTML='';
								        	}  
								        	else{
									        		alertamodificar.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Cedula o nombre de usuario Repetido!</div>';

								        	} 
									
								        },
							          error:
							          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
							        });
								}
						});
						$('.Eliminar').on('click',  function(){
							$.ajax
						        ({
						          type: "POST",
						          url: "controlador/controladorusuario.php",
						          data: {id:5, idU:idE},
						          async: false,  
						          dataType: "json",  
						          success:
						          function (msg) 
							        { 
							        	console.log("salida eliminar: "+msg);
							        	if(msg=="true"){
											listar();
							        		$('#modalModificar').modal('hide');
							        		resultado2.innerHTML='<div class="alert alert-success alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Se ha eliminado correctamente!</div>';
							        	}
							        
								
							        },
						          error:
						          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
						        });
						});

					});
				}
			function obtener(id){
				$.ajax
			        ({
			          type: "POST",
			          url: "controlador/controladorusuario.php",
			          data: {id:4, idU:id},
			          async: false,  
			          dataType: "json",  
			          success:
			          function (msg) 
				        { 
				        	console.log(msg);
				        	tc2.value=msg[0].cedula;
				        	tnombre2.value=msg[0].nombre;
				        	tapellido2.value=msg[0].apellido;
				        	tusuario2.value=msg[0].usuario;
				        	tcodigo2.value=msg[0].idusuario;
				        	pass2.value=msg[0].password;
				        	if(msg[0].tipo=="4"||msg[0].tipo==4){
				        			$('#tipodeusuario').fadeOut();
				        	}
				        	else{
				        		$('#tipodeusuario').fadeIn();
				        	}
				        	tipo=msg[0].tipo;
				        	$('#ttipo2').val(msg[0].tipo);
							$("#footer").html("");
							$("#footer").append(' <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancelar</button><button type="button" class="Eliminar btn btn-sm btn-danger"  name="'+msg[0].idusuario+'"><span class="glyphicon glyphicon-trash" ></span>Eliminar</button><button type="submit" class="actualizar btn btn-sm btn-susscess "  name="'+msg[0].idusuario+'"><span class="glyphicon glyphicon-refresh" ></span>Actualizar</button>');
				        },
			          error:
			          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
			        });
			}

	function validarFormulario(){

            if(tc2.value==""){ 
            	alertamodificar.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Debe Escribir una Cedula!</div>';
	             return false;
	            		
	            	
            }
            else if(tnombre2.value==""){
            	alertamodificar.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Debe Escribir un nombre!</div>';
	               	return false;
            }
            else if(tapellido2.value==""){	            
	    					alertamodificar.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Debe Escribir un Apellido!</div>';
	               			return false;
	        }
            else  if(tusuario2.value==""){
	    					alertamodificar.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Debe Escribir un nombre de usuario!</div>';
   				return false;
   		     }
             else if(pass2.value==""){            	
    					alertamodificar.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Debe Escribir una Contraseña!</div>';
               			return false;
             }
            return true;
	 }
    });
</script>