<style type="text/css">
	.ancho{
		width: 267px;
	}
.btn-group-vertical>.btn, .btn-group-vertical>.btn-group, .btn-group-vertical>.btn-group>.btn {
  display: block;
  float: none;
  /* width: 100%; */
  width: 267px;
   max-width: 100%; 
}
</style>





  <!-- Tab panes -->
  <div class="tab-content">
    
      <div role="tabpanel" class="tab-pane active" id="indicador">  
      <br> 
      	<div class="row">
			<div class="col-md-3  well">
				<center><label>Del Sistema</label></center>
				<div class="btn-group-vertical" role="group" >
                     <button class="btn btn-default btn-sm ancho" type="button" id="indicador0">Eficiencia en  el otorgamiento de prestamos</button> 
					 <button class="btn btn-default btn-sm ancho" type="button" id="indicador1">Eficiencia en prestamos </button>					 
					 <button class="btn btn-default btn-sm ancho" type="button" id="indicador2">Eficacia en inversión para  prestamos</button>
					
					  <button class="btn btn-default btn-sm ancho" type="button" id="indicador4">Motivación al ahorro</button>
					   <button class="btn btn-default btn-sm ancho" type="button" id="indicador5">Desmotivación al ahorro (retiro)</button>
				 	 
				</div>
				<br><br>
				<center><label>Del Socio</label></center>
				<div class="btn-group-vertical" role="group" >
                     <button class="btn btn-default btn-sm ancho" type="button" id="indicador6">Endeudamiento económico de prestamos</button> 
					 <button class="btn btn-default btn-sm ancho" type="button" id="indicador7">Nivel de endeudamiento </button>
					  <button class="btn btn-default btn-sm ancho" type="button" id="indicador3">Eficacia en la aprobación de créditos</button>	
					 <button class="btn btn-default btn-sm ancho" type="button" id="indicador7b">Otros Indicadores</button>					 

					<!--  <button class="btn btn-default btn-sm ancho" type="button" id="indicador8">Haberes</button>
					 <button class="btn btn-default btn-sm ancho" type="button" id="indicador8b">Sueldo</button> -->

					 <!-- <button class="btn btn-default btn-sm ancho" type="button" id="indicador3">Eficacia en la aprobación de créditos</button>
					  <button class="btn btn-default btn-sm ancho" type="button" id="indicador4">Motivación al ahorro</button>
					   <button class="btn btn-default btn-sm ancho" type="button" id="indicador5">Desmotivación al ahorro (retiro)</button> -->
				 	 
				</div>

				<br><br>
				<center><label>Generales</label></center>
				<div class="btn-group-vertical" role="group" >
                     <button class="btn btn-default btn-sm ancho" type="button" id="indicador9">Indicadores Financieros                    </button> 
					<!--  <button class="btn btn-default btn-sm ancho" type="button" id="indicador10">Liquidez </button>					 
					 <button class="btn btn-default btn-sm ancho" type="button" id="indicador11">Disponibilidad </button> -->
					 <button class="btn btn-default btn-sm ancho" type="button" id="indicador12">Endeudamiento  prestamos </button>
					 <button class="btn btn-default btn-sm ancho" type="button" id="indicador13">Endeudamiento patronal </button>
					 <button class="btn btn-default btn-sm ancho" type="button" id="indicador14">Rentabilidad</button>

					 <!-- <button class="btn btn-default btn-sm ancho" type="button" id="indicador3">Eficacia en la aprobación de créditos</button>
					  <button class="btn btn-default btn-sm ancho" type="button" id="indicador4">Motivación al ahorro</button>
					   <button class="btn btn-default btn-sm ancho" type="button" id="indicador5">Desmotivación al ahorro (retiro)</button> -->
				 	 
				</div>
						
			 </div>
			  <div class="col-md-1">
			 </div>
			 <div class="col-md-8 well" id="contenedorIndicador" style="height:800px;">
				<div id="socio" style="display:none;">					
				 <center>
			      <br>
			      	<div id="alertas"> <div class="alert alert-info"><h4><b>Buscar Socio Para mostrar Indicador</b></h4></div></div>
						<hr>
						<h5><b>Ingrese la cédula a buscar</b></h5>
						<hr>
			      </center>   
	            
			       <div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="col-sm-4 control-label">Cédula de identidad:</label>
					          <div class="col-sm-4">
					              <input  id="cedulabusqueda" type="text" class="form-control input-sm" name="cedulabusqueda"  />  
					          </div>
					           <div class="col-sm-4">
					             <button type="button" class="btn btn-sm btn-info" id="buscar"><span class="glyphicon glyphicon-search"></span>Buscar</button>	 
					          </div>
				          </div>
						</div>

					</div>
					<div id="resultado"> </div>
					<hr>
					<div id="meses"></div>
					<div id="tabla" style="display:none;">
						<table class="table">
							<thead>
								<tr>
									<th>Tiempo Ahorrando<small>(meses)</small></th>
									<th>Haberes <small>(bs)</small></th>
									<th>Sueldo <small>(bs)</small></th>
								</tr>
							</thead>
							<tbody id="cuerpoTabla">
								
							</tbody>
						</table>
					</div>
					
				</div>
				<div id="tabla2" style="display:none;">
						<table class="table">
							<thead>
								<tr>
									<th>Solvencia<small>(bs)</small></th>
									<th>Liquidez <small>(bs)</small></th>
									<th>Disponibilidad<small>(%)</small></th>
								</tr>
							</thead>
							<tbody id="cuerpoTabla2">
								
							</tbody>
						</table>
					</div>
				<div id="meses2"></div>
			 	<div id="chart1" style="margin-top:20px; margin-left:20px; width:600px; height:400px;"></div>
				<div id="leyenda2"></div>
				<div id="datos"></div>
			 </div>
		</div>
      </div>
    		
  </div>

</div>
 <script type="text/javascript" src="js/formValidation.js"></script>
<script type="text/javascript" src="js/framework/bootstrap.js"></script>

<script type="text/javascript" src="js/dist/jquery.jqplot.min.js"></script>
<script type="text/javascript" src="js/dist/plugins/jqplot.barRenderer.min.js"></script>
<script type="text/javascript" src="js/dist/plugins/jqplot.highlighter.min.js"></script>
<script type="text/javascript" src="js/dist/plugins/jqplot.cursor.min.js"></script>
<script type="text/javascript" src="js/dist/plugins/jqplot.dateAxisRenderer.min.js"></script>
<script type="text/javascript" src="js/dist/plugins/jqplot.logAxisRenderer.min.js"></script>
<script type="text/javascript" src="js/dist/plugins/jqplot.canvasTextRenderer.min.js"></script>
<script type="text/javascript" src="js/dist/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
<script type="text/javascript" src="js/dist/plugins/jqplot.pieRenderer.min.js"></script>
<script type="text/javascript" src="js/dist/plugins/jqplot.pointLabels.min.js"></script>


<script type="text/javascript" src="js/dist/examples/syntaxhighlighter/scripts/shCore.min.js"></script>
<script type="text/javascript" src="js/dist/examples/syntaxhighlighter/scripts/shBrushJScript.min.js"></script>
<script type="text/javascript" src="js/dist/examples/syntaxhighlighter/scripts/shBrushXml.min.js"></script>

 <script type="text/javascript">
 $(document).ready(function() {
			
		
	  
	
	eventosindicadores();

	function grafica(l0, l1, nombre){	
	$("#chart1").html(""); 
		var line1=[['01',4], ['02',6.5], ['03',5.7], ['05',9], ['07',8.2]];
			$("#chart1").jqplot([l0, l1], {  
			      title: nombre,
			      seriesDefaults: {
			          rendererOptions: {
			              smooth: true
			          }
			      },
			      axes:{
			        xaxis:{
			          label:'Meses',
			          labelRenderer: $.jqplot.CanvasAxisLabelRenderer
			        }
			      },
			      highlighter: {
			         sizeAdjust: 10,
			         tooltipLocation: 'n',
			         tooltipAxes: 'y',
			        
			         useAxesFormatters: false
			     },
			     cursor: {
			         show: true
			     }
			  });

		 $("#wait").css("display", "none");

	}

	function grafica1(l0,  nombre){	
	$("#chart1").html(""); 
	/*	var line1=[['01',4], ['02',6.5], ['03',5.7], ['05',9], ['07',8.2]];*/
			$("#chart1").jqplot([l0], {  
			      title: nombre,
			      seriesDefaults: {
			          rendererOptions: {
			              smooth: true
			          }
			      },
			      axes:{
			        xaxis:{
			          label:'Meses',
			          labelRenderer: $.jqplot.CanvasAxisLabelRenderer
			        }
			      },
			      highlighter: {
			         sizeAdjust: 10,
			         tooltipLocation: 'n',
			         tooltipAxes: 'y',
			        
			         useAxesFormatters: false
			     },
			     cursor: {
			         show: true
			     }
			  });

		 $("#wait").css("display", "none");

	}

	function graficaindicador4(l1,nombre){ 
	  $("#chart1").html(""); 
	     var l0=consultagrafica1();
	      $("#chart1").jqplot([l1, l0], {  
	            title: nombre,
	            seriesDefaults: {
	                rendererOptions: {
	                    smooth: true
	                }
	            },
	            axes:{
			        xaxis:{
			          label:'Meses',
			          labelRenderer: $.jqplot.CanvasAxisLabelRenderer
			        }
			      },
	            highlighter: {
	               sizeAdjust: 10,
	               tooltipLocation: 'n',
	               tooltipAxes: 'y',
	              
	               useAxesFormatters: false
	           },
	           cursor: {
	               show: true
	           }
	        });

	   //  $("#wait").css("display", "none");

	  }


    function consultagrafica1(){
        var a="";
            $.ajax
              ({
              type: "POST",
              url: "controlador/controladorReportes.php",
              data: {id:3 },
              dataType: "json",
              async: false,           
              success:
              function (msg) 
              {     
                a=msg;
              },
                  error:
                  function (msg) {console.log( msg +"No se pudo realizar la conexion");}
              });
        return a;
    }	
    	function calcularDatosIndicador14(){
		$.ajax
		        ({
		          type: "POST",
		          url: "controlador/controladorindicadores.php",
		          data: {id:14},
		          async: false,  
		          dataType: "json",  
		          success:
		          function (msg) 
			        { 
			        	console.log(msg);
			        	$('#datos').html("");			        	
			        	$('#datos').append("<br><div style='color:#4BB2C5;'> <b>Total de interes:</b> "+msg[0].interes2+" bs");
			       
			        	var nombre="Rentabilidad";
			        	grafica1(msg[0].a, nombre);     	    	

			        },
		          error:
		          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
		        });
	}
    	function calcularDatosIndicador8b(){
				/*$.ajax
		        ({
		          type: "POST",
		          url: "controlador/controladorSocio.php",
		          data: {id:10, cedula:cedulabusqueda.value},
		          async: false,  
		          dataType: "json",  
		          success:
		          function (msg) 
			        { 
			        		console.log(msg);			        			        		
				        	$('#datos').html("");
				        	$('#meses').html("");
				        	$('#meses').append("<br><b>Salario: </b> "+msg[0].salario + " bs");
				        	$('#chart1').html("");				        	
			        },
		          error:
		          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
		        });*/
		}
    	 function calcularDatosIndicador8(){
				
		}
       function calcularDatosIndicador7b(){
       	var row3=$('<tr ></tr>');
       	var fila0="";
       	var fila1="";
       	var fila2 ="";
       	$('#cuerpoTabla').html("");
			$.ajax
		        ({
		          type: "POST",
		          url: "controlador/controladorindicadores.php",
		          data: {id:77, cedula:cedulabusqueda.value},
		          async: false,  
		          dataType: "json",  
		          success:
		          function (msg) 
			        { 
			        		/*console.log(msg);			        			        		
				        	$('#datos').html("");
				        	$('#meses').html("");	
				           	$('#meses').append("<br><b>Tiempo de ahorrista: </b> "+msg[0].meses + " meses");
				        	$('#chart1').html("");   	*/

				        		
								fila0=$('<td></td>').text(msg[0].meses);
								
			        },
		          error:
		          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
		        });

				$.ajax
		        ({
		          type: "POST",
		          url: "controlador/controladorSocio.php",
		          data: {id:6, cedula:cedulabusqueda.value},
		          async: false,  
		          dataType: "json",  
		          success:
		          function (msg) 
			        { 
			        		/*console.log(msg);			        			        		
				        	$('#datos').html("");
				        	$('#meses').html("");
				        	$('#meses').append("<br><b>Total de haberes: </b> "+ + " bs");
				        	$('#chart1').html("");	*/
				        	fila1= $('<td></td>').text(msg[0].total);
									        	
			        },
		          error:
		          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
		        });

		        $.ajax
		        ({
		          type: "POST",
		          url: "controlador/controladorSocio.php",
		          data: {id:10, cedula:cedulabusqueda.value},
		          async: false,  
		          dataType: "json",  
		          success:
		          function (msg) 
			        { 
			        	

				        	 fila2= $('<td></td>').text(msg[0].salario);		        	
			        },
		          error:
		          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
		        });


		       
							
					row3.append(fila0);
					row3.append(fila1);
					row3.append(fila2);
					
					$('#cuerpoTabla').append(row3);	
	}

     function calcularDatosIndicador7(){
		$.ajax
		        ({
		          type: "POST",
		          url: "controlador/controladorindicadores.php",
		          data: {id:7, cedula:cedulabusqueda.value},
		          async: false,  
		          dataType: "json",  
		          success:
		          function (msg) 
			        { 
			        	console.log(msg);
			        	if(msg[0].m>0){			        		
				        	$('#datos').html("");
				        	
				        	$('#datos').append("<br><div style='color:#4BB2C5;'> <b>Saldo Prestamos:</b> "+msg[0].cheque + "</div><div style='color: #EAA228;' ><b>Total Haberes:</b>"+msg[0].aportes+"</div>");
				        	var val=parseFloat(msg[0].cheque)/parseFloat(msg[0].aportes);
				        	//val=Math.round(val*100)/100;
				        	console.log("valor dividido: "+Math.round(val*100)/100); 
			        		val=parseFloat(val);
				        	$('#datos').append("<br><b>Valor de Referencia</b> X: "+val); 

				        	var nombre="Endeudamiento económico de prestamos";
				        	grafica(msg[0].a, msg[0].b,nombre);
			        	}
			        	else{
			 					resultado.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡El socio aun no tiene prestamos solicitados!</div>';

			        	}
			         },
		          error:
		          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
		        });
	}
    function calcularDatosIndicador6(){
		$.ajax
		        ({
		          type: "POST",
		          url: "controlador/controladorindicadores.php",
		          data: {id:6, cedula:cedulabusqueda.value},
		          async: false,  
		          dataType: "json",  
		          success:
		          function (msg) 
			        { 
			        	console.log(msg);
			        	if(msg[0].m>0){			        		
				        	$('#datos').html("");
				        	
				        	$('#datos').append("<br><div style='color:#4BB2C5;'> <b>Saldo Prestamos:</b> "+msg[0].cheque + "</div><div style='color: #EAA228;' ><b>Total Haberes:</b>"+msg[0].aportes+"</div>");
				        	var val=parseFloat(msg[0].cheque)/parseFloat(msg[0].aportes);
				        	//val=Math.round(val*100)/100;
				        	console.log("valor dividido: "+Math.round(val*100)/100); 
			        		val=parseFloat(val);
				        	$('#datos').append("<br><b>Valor de Referencia</b> X: "+val); 

				        	var nombre="Endeudamiento económico de prestamos";
				        	grafica(msg[0].a, msg[0].b,nombre);
			        	}
			        	else{
			 					resultado.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡El socio aun no tiene prestamos solicitados!</div>';
			        	}
			        },
		          error:
		          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
		        });
	}
    function calcularDatosIndicador5(){
		$.ajax
		        ({
		          type: "POST",
		          url: "controlador/controladorindicadores.php",
		          data: {id:5},
		          async: false,  
		          dataType: "json",  
		          success:
		          function (msg) 
			        { 
			        	console.log(msg);
			        	$('#datos').html("");			        	
			        	$('#datos').append("<br><div style='color:#4BB2C5;'> <b>Total de socios con retiro total:</b> "+msg[0].totalretirados + "</div><div style='color: #EAA228;' ><b>Total de socios:</b>"+msg[0].totalsocios+"</div>");
			        	var val=parseFloat(msg[0].totalretirados)/parseFloat(msg[0].totalsocios);
			        	//val=Math.round(val*100)/100;
			        	console.log("valor dividido: "+Math.round(val*100)/100); 
		        		val=parseFloat(val);
			        	$('#datos').append("<br><b>Valor de Referencia o Rango de Desempeño</b> X<small>CR</small>: "+val); 
			        	var nombre="Desmotivación al ahorro (retiro)";
			        	graficaindicador4(msg[1], nombre);     	    	

			        },
		          error:
		          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
		        });
	}
	function calcularDatosIndicador4(){
		$.ajax
		        ({
		          type: "POST",
		          url: "controlador/controladorindicadores.php",
		          data: {id:4},
		          async: false,  
		          dataType: "json",  
		          success:
		          function (msg) 
			        { 
			        	console.log(msg);
			        	$('#datos').html("");			        	
			        	$('#datos').append("<br><div style='color:#4BB2C5;'> <b>Total de socios ahorrando:</b> "+msg[0].totalahorrando + "</div><div style='color: #EAA228;' ><b>Total de socios:</b>"+msg[0].totalsocios+"</div>");
			        	var val=parseFloat(msg[0].totalahorrando)/parseFloat(msg[0].totalsocios);
			        	//val=Math.round(val*100)/100;
			        	console.log("valor dividido: "+Math.round(val*100)/100); 
		        		val=parseFloat(val);
			        	$('#datos').append("<br><b>Valor de Referencia o Rango de Desempeño</b> X<small>CS</small>: "+val); 
			        	var nombre="Motivación al ahorro";
			        	graficaindicador4(msg[1], nombre);
			        },
		          error:
		          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
		        });
	}
	function calcularDatosIndicador3(){
		$.ajax
		        ({
		          type: "POST",
		          url: "controlador/controladorindicadores.php",
		          data: {id:3, cedula:cedulabusqueda.value},
		          async: false,  
		          dataType: "json",  
		          success:
		          function (msg) 
			        { 
			        	console.log(msg);
			        	if(msg[0].m>0){

				        	$('#meses2').html("");
				        	$('#meses2').append("<b>Para Prestamos Comerciales y Personales</b>");
				        	$('#meses2').append("<br> <b>Total días invertidos en la aprobacion de préstamos: </b>" + msg[0].comercialesypersonales);
				        	$('#meses2').append("<br> <b>Días establecidos para otorgar prestamos: </b>" + 5);

				        	var val=parseFloat(msg[0].comercialesypersonales)/parseFloat(5);
				        	val=Math.round(val*100)/100;
				        	if(val>5)
				        		$('#meses2').append("<br> <b>No eficaz</b>") ;
				        	else{
				        		$('#meses2').append("<br> <b>Eficaz</b>" );

				        	}

				        	$('#meses2').append("<br><br><b>Para Prestamos Prestamos Hipotecarios y de Vehiculos</b>");
				        	$('#meses2').append("<br> <b>Total días invertidos en la aprobacion de préstamos: </b>" + msg[0].hipotecariosydevehiculos);
				        	$('#meses2').append("<br> <b>Días establecidos para otorgar prestamos: </b>" + 30);

				        	var val=parseFloat(msg[0].hipotecariosydevehiculos)/parseFloat(30);
				        	val=Math.round(val*100)/100;

				        	if(val>30){
				        		$('#meses2').append("<br> <b>No eficaz</b>") ;

				        	}
				        	else{
				        		$('#meses2').append("<br> <b>Eficaz</b>" );

				        	}
				        	
			        	
			        	}else{
			        		$('#meses2').html("");
			        	}



			        },
		          error:
		          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
		        });
	}
	function calcularDatosIndicador2(){
		$.ajax
		        ({
		          type: "POST",
		          url: "controlador/controladorindicadores.php",
		          data: {id:2},
		          async: false,  
		          dataType: "json",  
		          success:
		          function (msg) 
			        { 
			        	/*console.log(msg);*/
			        	$('#datos').html("");
			        	$('#datos').append("<br><div style='color:#4BB2C5;'> <b>Total de Bs otorgados en Prestamos:</b> "+msg[0].total + "</div><div style='color: #EAA228;' ><b>Total de Bs presupuestados para prestamos:</b>"+msg[0].inversion+"</div>");
			        	var val=parseFloat(msg[0].total)/parseFloat(msg[0].inversion);
			        	//val=Math.round(val*100)/100;
			        	$('#datos').append("<br><b>Valor de Referencia o Rango de Desempeño</b> X<small>EP</small>: "+val); 

			        	console.log("valor dividido: "+Math.round(val*100)/100); 
		        		val=parseFloat(val);
			        	if(val<=1.0&&val>=0.80){
			        		$('#datos').append("<br>Gestión eficaz");
			        	}
			        	if(val<=0.79&&val>=0.60){
			        		$('#datos').append("<br>Gestión Satisfactoria");			        		
			        	}
			        	if(val<=0.59&&val>=0.49){
			        		$('#datos').append("<br>Gestion Aceptable");			        		
			        	}
			     		if(val<=0.39&&val>=0.20){
			        		$('#datos').append("<br>Gestión poco aceptable");			        		
			        	}
			        	if(val<=0.19&&val>=0.004){
			        		$('#datos').append("<br>Gestión ineficaz o no aceptable");			        		
			        	}
			        	var l1="1";
        				var nombre="Eficacia en inversión para  prestamos";
			        	grafica(msg[1], msg[2], nombre);
			        },
		          error:
		          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
		        });
	}
	function calcularDatosIndicador1(){
		$.ajax
		        ({
		          type: "POST",
		          url: "controlador/controladorindicadores.php",
		          data: {id:1},
		          async: false,  
		          dataType: "json",  
		          success:
		          function (msg) 
			        { 			        	
			        	$('#datos').html("");
			        	$('#datos').append("<br><div style='color:#4BB2C5;'> <b> Prestamos No Otorgados:</b> "+msg[0].prestamosotorgados + "</div><div style='color: #EAA228;' ><b> Prestamos solicitados:</b>"+msg[0].prestamosolicitados+"</div>");
			        	var val=msg[0].prestamosotorgados/msg[0].prestamosolicitados;
			        	val=Math.round(val*100)/100;
			        	$('#datos').append("<br><b>Valor de Referencia o Rango de Desempeño</b> X<small>P</small>: "+val); 
			        	console.log("valor dividido: "+Math.round(val*100)/100); 
			           	if(val>=0.40&&val<=1.0){
			        		$('#datos').append("<br>Gestión ineficiente o no aceptable");
			        	}
			        	if(val>=0.30&&val<=0.39){
			        		$('#datos').append("<br>Gestión poco Aceptable");			        		
			        	}
			        	if(val>=0.20&&val<=0.29){
			        		$('#datos').append("<br>Gestion Aceptable");			        		
			        	}
			        	if(val>=0.19&&val<=0.05){
			        		$('#datos').append("<br>Gestión Satisfactoria");			        		
			        	}
			        	if(val<=0.04){
			        		$('#datos').append("<br>Gestión Eficiente");			        		
			        	}
			        	var l1="1";
        				var nombre="Eficiencia en prestamos";
			        	grafica(msg[1],msg[2],nombre);
			         },
		          error:
		          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
		        });
	}
	function calcularDatosIndicador0(){
			$.ajax
		        ({
		          type: "POST",
		          url: "controlador/controladorindicadores.php",
		          data: {id:0},
		          async: false,  
		          dataType: "json",  
		          success:
		          function (msg) 
			        { 
			        	$('#datos').html("");
			        	$('#datos').append("<br><div style='color:#4BB2C5;'> <b> Prestamos Otorgados:</b> "+msg[0].prestamosotorgados + "</div><div style='color: #EAA228;' ><b> Prestamos solicitados:</b>"+msg[0].prestamosolicitados+"</div>");
			        	var val=msg[0].prestamosotorgados/msg[0].prestamosolicitados;
			        	val=Math.round(val*100)/100;
			        	$('#datos').append("<br><b>Valor de Referencia o Rango de Desempeño</b> X<small>EP</small>: "+val); 
			        	console.log("valor dividido: "+Math.round(val*100)/100); 
			        	if(val<=1.0&&val>=0.80){
			        		$('#datos').append("<br>Gestion Eficiente");
			        	}
			        	if(val<=0.79&&val>=0.60){
			        		$('#datos').append("<br>Gestion Satisfactoria");			        		
			        	}
			        	if(val<=0.59&&val>=0.49){
			        		$('#datos').append("<br>Gestion Aceptable");			        		
			        	}
			        	if(val<=0.39&&val>=0.20){
			        		$('#datos').append("<br>Gestion poco Aceptable");			        		
			        	}
			        	if(val<=0.19&&val>=0.004){
			        		$('#datos').append("<br>Gestion ineficiente o no aceptable");			        		
			        	}
			        	var l1="1";
        				var nombre="Eficiencia En el Otorgamiento de Prestamos";
			        	grafica(msg[1],msg[2],nombre);
			        },
		          error:
		          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
		        });
	}

	function buscar(tipo){
		$('#buscar').on('click',  function(){
			if(cedulabusqueda.value!=""){
				if(tipo==3){
					calcularDatosIndicador3();
				}
				if(tipo==6){
					calcularDatosIndicador6();					
				}
				if(tipo==7){
					calcularDatosIndicador7();
				}
				if(tipo=="7b"){
					calcularDatosIndicador7b();
				}
				if(tipo==8){
					calcularDatosIndicador8();
				}
				if(tipo=="8b"){
					calcularDatosIndicador8b();
				}
			}
			else{
			 		resultados.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Debe Escribir la cedula del socio!</div>';
			}
		});
	}

     function ObtenerSolvencia(){
 		var row3=$('<tr ></tr>');
       	var fila0="";
       	var fila1="";
       	var fila2 ="";
       	$('#cuerpoTabla2').html("");


     		$.ajax
		        ({
		          type: "POST",
		          url: "controlador/controladorindicadorgeneral.php",
		          data: {id:2},
		          async: false,  
		          dataType: "json",  
		          success:
		          function (msg) 
			        { 
			        		        	
			        	/*$('#meses2').append("<b>Activo:</b> "+msg[0].activo + "bs                         <b>Pasivo:</b> "+msg[0].pasivo+ "bs");*/
			        	var val=parseFloat(msg[0].activo)/parseFloat(msg[0].pasivo);
			        	val=Math.round(val*100)/100;
			       /* 	$('#meses2').append("<br><b>Solvencia: </b>"+Math.round(val*100)/100);	 */

			        	fila0=$('<td></td>').text(val + "  -Mínimo 4bs");     

			        },
		          error:
		          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
		        });

		        $.ajax
		        ({
		          type: "POST",
		          url: "controlador/controladorindicadorgeneral.php",
		          data: {id:4},
		          async: false,  
		          dataType: "json",  
		          success:
		          function (msg) 
			        { 
			        	
			        	/*$('#meses2').append("<b>Efectivo:</b> "+msg[0].efectivo + "bs                         <b>Pasivo:</b> "+msg[0].pasivo+ "bs");*/
			        	var val=parseFloat(msg[0].efectivo)/parseFloat(msg[0].pasivo);
			        	val=Math.round(val*100)/100;
			        	fila1=$('<td></td>').text(val + "  -Mínimo 2bs");     

			        /*	$('#meses2').append("<br><b>Liquidez: </b>"+Math.round(val*100)/100);	*/        	
			        	

			        },
		          error:
		          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
		        });

		        $.ajax
		        ({
		          type: "POST",
		          url: "controlador/controladorindicadorgeneral.php",
		          data: {id:6},
		          async: false,  
		          dataType: "json",  
		          success:
		          function (msg) 
			        { 
			        	/*$('#meses2').append("<b>Efectivo:</b> "+msg[0].efectivo + "bs                         <b>Haberes:</b> "+msg[0].haberes+ "bs");*/
			        	var val=parseFloat(msg[0].efectivo)/parseFloat(msg[0].haberes);
			        	val=Math.round(val*100)/100;
			        	val=(val*100);
			        	fila2=$('<td></td>').text(val + "  -Mínimo 20%");     

			        	/*$('#meses2').append("<br><b>Disponibilidad: </b>"+Math.round(val*100)/100);*/

			        	

			        },
		          error:
		          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
		        });

		row3.append(fila0);
		row3.append(fila1);
		row3.append(fila2);

		$('#cuerpoTabla2').append(row3);	
     }

	   function Obtenerliquidez(){
     		$.ajax
		        ({
		          type: "POST",
		          url: "controlador/controladorindicadorgeneral.php",
		          data: {id:4},
		          async: false,  
		          dataType: "json",  
		          success:
		          function (msg) 
			        { 
			        	
			        	$('#meses2').append("<b>Efectivo:</b> "+msg[0].efectivo + "bs                         <b>Pasivo:</b> "+msg[0].pasivo+ "bs");
			        	var val=parseFloat(msg[0].efectivo)/parseFloat(msg[0].pasivo);
			        	$('#meses2').append("<br><b>Liquidez: </b>"+Math.round(val*100)/100);	        	
			        	

			        },
		          error:
		          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
		        });
     }
	function ObtenerDisponibilidad(){
     		$.ajax
		        ({
		          type: "POST",
		          url: "controlador/controladorindicadorgeneral.php",
		          data: {id:6},
		          async: false,  
		          dataType: "json",  
		          success:
		          function (msg) 
			        { 
			        	$('#meses2').append("<b>Efectivo:</b> "+msg[0].efectivo + "bs                         <b>Haberes:</b> "+msg[0].haberes+ "bs");
			        	var val=parseFloat(msg[0].efectivo)/parseFloat(msg[0].haberes);
			        	$('#meses2').append("<br><b>Disponibilidad: </b>"+Math.round(val*100)/100);

			        	

			        },
		          error:
		          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
		        });
     }

   function ObtenerEP(){
     		$.ajax
		        ({
		          type: "POST",
		          url: "controlador/controladorindicadorgeneral.php",
		          data: {id:8},
		          async: false,  
		          dataType: "json",  
		          success:
		          function (msg) 
			        { 
			        	
			        	

			        	 var  val=parseFloat(msg[0].saldo)/parseFloat(msg[0].haberes);
			        	val=val*100;
			        	$('#meses2').append("<b>Saldo prestamos: </b>"+msg[0].saldo + " Bs" );
			        	$('#meses2').append("<br><b>Haberes:</b>"+msg[0].haberes +" Bs" );

			        	$('#meses2').append("<br><b>Endeudamiento Prestamos:</b> "+ Math.round(val*100)/100  + "Bs  Maximo 70%");        	
			        	

			        },
		          error:
		          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
		        });
     }
   	function ObtenerEPA(){
     		$.ajax
		        ({
		          type: "POST",
		          url: "controlador/controladorindicadorgeneral.php",
		          data: {id:10},
		          async: false,  
		          dataType: "json",  
		          success:
		          function (msg) 
			        { 
			        	
			        	 var  val=parseFloat(msg[0].porcobrar)/parseFloat(msg[0].patrimonios);
			        	val=val*100;
			        	$('#meses2').append("<b>Aportes por Cobrar: </b>"+msg[0].porcobrar +" Bs" );
			        	$('#meses2').append("<br><b>Patrimonios:</b>"+msg[0].patrimonios  + " Bs");

			        	$('#meses2').append("<br><b>Endeudamiento Patronal:</b> "+ Math.round(val*100)/100 + "%  Maximo 15%");        	
			        	

			        },
		          error:
		          function (msg) {console.log( msg +" No se pudo realizar la conexion");}
		        });
     }
	
	function eventosindicadores(){
		$('#indicador0').on('click',  function(){
			$("#wait").css("display", "block");	
			$('#socio').fadeOut();
		    calcularDatosIndicador0();
		    $('#meses').html("");
		    $('#meses2').html("");
		    $('#tabla').fadeOut();
		    $('#tabla2').fadeOut();



		});
		$('#indicador1').on('click',  function(){
			$('#socio').fadeOut();			
			calcularDatosIndicador1();
			$('#meses').html("");
			$('#meses2').html("");
			$('#tabla').fadeOut();
		    $('#tabla2').fadeOut();


		});
		$('#indicador2').on('click',  function(){
			$('#socio').fadeOut();			
			calcularDatosIndicador2();
			$('#meses').html("");
			$('#meses2').html("");
			$('#tabla').fadeOut();
		    $('#tabla2').fadeOut();
			$('#socio').fadeIn();
		    


		});
		$('#indicador3').on('click',  function(){
			$('#socio').fadeOut();
			$('#meses2').html("");
			$('#meses').html("");
			$('#meses2').html("");
			$('#socio').fadeIn();			
			$('#tabla').fadeOut();
		    $('#tabla2').fadeOut();
		    buscar(3);

			
		});
		$('#indicador4').on('click',  function(){
			$('#socio').fadeOut();			
			calcularDatosIndicador4();
			$('#meses').html("");
			$('#meses2').html("");
			$('#tabla').fadeOut();
		    $('#tabla2').fadeOut();


		});
		$('#indicador5').on('click',  function(){
			$('#socio').fadeOut();			
			calcularDatosIndicador5();
			$('#meses').html("");
			$('#meses2').html("");
			$('#tabla').fadeOut();
		    $('#tabla2').fadeOut();


		});
		$('#indicador6').on('click',  function(){
			$('#chart1').html("");
			$('#leyenda').html("");
			$('#datos').html("");
			$('#socio').fadeIn();
			$('#meses').html("");
			$('#meses2').html("");
			$('#tabla').fadeOut();
		    $('#tabla2').fadeOut();


			buscar(6);
		//	calcularDatosIndicador6();

		});
		$('#indicador7').on('click',  function(){
			$('#chart1').html("");
			$('#leyenda').html("");
			$('#datos').html("");
			$('#socio').fadeIn();
			$('#meses').html("");
			$('#meses2').html("");
			$('#tabla').fadeOut();
		    $('#tabla2').fadeOut();


			buscar(7);

		});
		$('#indicador7b').on('click',  function(){
			$('#chart1').html("");
			$('#leyenda').html("");
			$('#datos').html("");
			$('#socio').fadeIn();
			$('#meses').html("");
			$('#meses2').html("");
			$('#tabla').fadeIn();
		    $('#tabla2').fadeOut();


			buscar("7b");

		});
		/*$('#indicador8').on('click',  function(){
			$('#chart1').html("");
			$('#leyenda').html("");
			$('#datos').html("");
			$('#socio').fadeIn();
			$('#meses').html("");
			$('#meses2').html("");

			buscar(8);

		});
		$('#indicador8b').on('click',  function(){
			$('#chart1').html("");
			$('#leyenda').html("");
			$('#datos').html("");
			$('#socio').fadeIn();
			$('#meses').html("");
			$('#meses2').html("");

			buscar("8b");
		});*/
		$('#indicador9').on('click',  function(){
			$('#chart1').html("");
			$('#leyenda').html("");
			$('#datos').html("");
			$('#socio').fadeOut();
			$('#meses').html("");
			$('#meses2').html("");
			//ObtenerSolvencia();
			$('#tabla').fadeOut();
		    $('#tabla2').fadeIn();
		    ObtenerSolvencia();


		});
		/*$('#indicador10').on('click',  function(){
			$('#chart1').html("");
			$('#leyenda').html("");
			$('#datos').html("");
			$('#socio').fadeOut();
			$('#meses').html("");
			$('#meses2').html("");
			Obtenerliquidez();
			$('#tabla').fadeOut();

		});
		$('#indicador11').on('click',  function(){
			$('#chart1').html("");
			$('#leyenda').html("");
			$('#datos').html("");
			$('#socio').fadeOut();
			$('#meses').html("");
			$('#meses2').html("");

			ObtenerDisponibilidad();
			$('#tabla').fadeOut();
		});*/
		
		$('#indicador12').on('click',  function(){
			$('#chart1').html("");
			$('#leyenda').html("");
			$('#datos').html("");
			$('#socio').fadeOut();
			$('#meses').html("");
			$('#meses2').html("");
			$('#tabla').fadeOut();
		    $('#tabla2').fadeOut();
		    ObtenerEP();


		});

		$('#indicador13').on('click',  function(){
			$('#chart1').html("");
			$('#leyenda').html("");
			$('#datos').html("");
			$('#socio').fadeOut();
			$('#meses').html("");
			$('#meses2').html("");
			$('#tabla').fadeOut();
		    $('#tabla2').fadeOut();
		    ObtenerEPA();


		});

		$('#indicador14').on('click',  function(){
			$('#chart1').html("");
			$('#leyenda').html("");
			$('#datos').html("");
			$('#socio').fadeOut();
			$('#meses').html("");
			$('#meses2').html("");
			calcularDatosIndicador14();
			$('#tabla').fadeOut();
		    $('#tabla2').fadeOut();


		});
	}
	
    });
</script>