 <center>
  <br>
  	<div id="alertas"> <div class="alert alert-info"><h4><b>Nomina de Aportes</b></h4></div></div>
  </center>   
  <h4>Ingrese los datos para Buscar</h4>
		<hr>
		<form id="formbuscarporfecha" method="post" class="form-signin form-horizontal"  onsubmit="return false;"> 
			  <div class="row">
			  		<div class="col-md-2">
						<div class="form-group">
						          <label class="col-sm-3 control-label">Cedula: </label>
						          <div class="col-sm-9">
						              <input  id="tcedula" type="text" class="form-control input-sm" name="cedula" >  
						          </div>
						      </div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
						          <label class="col-sm-5 control-label">Fecha de Inicio: </label>
						          <div class="col-sm-7">
						              <input  id="tdesde" type="date" class="form-control input-sm" name="desde" >  
						          </div>
						      </div>
					</div>
					<div class="col-md-4">
							<div class="form-group">
						          <label class="col-sm-5 control-label">Fecha Final: </label>
						          <div class="col-sm-7">
						              <input  id="thasta" type="date" class="form-control input-sm" name="hasta" >  
						          </div>						          
						      </div>
					</div>
					<div class="col-md-2">
			             <button type="submit" class="btn btn-sm btn-info" id="buscar" disabled="true"><span class="glyphicon glyphicon-search"></span>Buscar</button>	
					</div>
			</div>
		</form>
<hr>
<div id="resultadobusqueda" style="display:none;">
		<h4>Datos del Socio</h4><br>
				<form id="formdatossocio" method="post" class="form-signin form-horizontal"  onsubmit="return false;">
					  <div class="row">
					  		<div class="col-md-3">
								<div class="form-group">
							          <label class="col-sm-4 control-label">Cedula: </label>
							          <div class="col-sm-8">
							              <input  id="tcedula2" type="text" class="form-control input-sm" name="cedula2" disabled="true">  
							          </div>
						        </div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
							          <label class="col-sm-4 control-label">Nombres: </label>
							          <div class="col-sm-8">
							              <input  id="tnombres" type="text" class="form-control input-sm" name="nombres" disabled="true">  
							          </div>
						        </div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
							          <label class="col-sm-4 control-label">Apellidos: </label>
							          <div class="col-sm-8">
							              <input  id="tapellidos" type="text" class="form-control input-sm" name="apellidos" disabled="true">  
							          </div>
						        </div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
							          <label class="col-sm-4 control-label">Gremio: </label>
							          <div class="col-sm-8">
							              <input  id="tgremio" type="text" class="form-control input-sm" name="gremio" disabled="true">  
							          </div>
						        </div>
							</div>					
						</div> 
				</form>
		<hr>
<h4>Resultado</h4>
		<table class="table">
			<thead>
				<tr>	
					<th colspan="2">
						FECHA
					</th>				
					<th colspan="6">
						RETENCION
					</th>
					<th colspan="5">
						APORTE
					</th>
					<th colspan="1">
					</th>					
				</tr>
			</thead>
			<tbody id="cuerpotabla">
				<tr>
					<td><b><small>Mes</small></b></td>
					<td><b><small>Año</small></b></td>
					
					<td><b><small>1 Quincena    </small></b></td>
					<td><b><small>2 Quincena    </small></b></td>
					<td><b><small>Incre. Sal. Mes    </small></b></td>
					<td><b><small>Nivel Alto    </small></b></td>
					<td><b><small>Div. Año Anterior</small></b></td>
					<td><b><small>Suma de Retencion    </small></b></td>
					<td><b><small>1 Quincena    </small></b></td>
					<td><b><small>2 Quincena    </small></b></td>
					<td><b><small>Incre. Sal. Mes    </small></b></td>
					<td><b><small>Nivel Alto    </small></b></td>
					<td><b><small>Suma Aportes    </small></b></td>
					<td><b><small>Total Aportes </small></b></td>
				</tr>
			</tbody>
		</table>
</div>
<hr>
<script type="text/javascript" src="js/formValidation.js"></script>
<script type="text/javascript" src="js/framework/bootstrap.js"></script>
<script type="text/javascript">
 $(document).ready(function() { 

 	$('#formbuscarporfecha').formValidation({
              framework: 'bootstrap',
              icon: {
                  valid: 'glyphicon glyphicon-ok',
                  invalid: 'glyphicon glyphicon-remove',
                  validating: 'glyphicon glyphicon-refresh'
              },
              fields: {                
                desde:{
                    validators: {
                          notEmpty: {
                                    message: 'Se requiere este campo'
                             },                            
                      }
                },
                hasta:{
                    validators: {
                          notEmpty: {
                                    message: 'Se requiere este campo'
                             },                            
                      }
                },
                cedula:{
                    validators: {
                          notEmpty: {
                                    message: 'Se requiere este campo'
                             },
                             digits: {
                                   message: 'Por favor introduce sólo dígitos'
                              }                            
                      }
                }
            }              
          }).on('success.field.fv', function(e, data) {              
            	if (!data.fv.isValid()) {    
                     data.fv.disableSubmitButtons(true);        
                  }
            });	
 		$('#buscar').on('click',  function(){
			  $.ajax
		          ({
		            type: "POST",
		            url: "controlador/controladorAportes.php",
		            data: {id:2, desde:tdesde.value, hasta:thasta.value, cedula:tcedula.value},
		            async: false,  
		            dataType: "json",  
		            success:
		            function (msg) 
		            { 
		            	if(msg[0].m>0){
		            		$('#resultadobusqueda').fadeIn();		            		
			            	tdesde.value=""; 
			            	thasta.value="";
			            	tcedula.value="";
			            	listarNomina(msg);
			            	  $('.form-group').removeClass('has-success');
			                  $('.form-group').removeClass('has-error');
			                  $('.form-group').removeClass('has-error has-feedback');
			                  $('.form-group').find('small.help-block').hide();
			                  $('.form-group').find('i.form-control input-sm-feedback').hide();
		            	}
		            	else{
		            		$('#resultadobusqueda').fadeOut();
		            	}
		            },
		            error:
		            function (msg) {console.log( msg +" No se pudo realizar la conexion");}
		          });
		 	
			});


 		 function listarNomina(msg){
                $('#cuerpotabla').html("");
                var row2=$('<tr ></tr>');
                tcedula2.value=msg[0].cedula;
                tnombres.value=msg[0].nombres;
                tapellidos.value=msg[0].apellidos;
                tgremio.value=msg[0].cargo;
                 row2.append( $('<td></td>').html("<td><b><small>Mes   </small></b></td>"));
                row2.append( $('<td></td>').html("<td><b><small>Año </small></b></td>"));
                row2.append( $('<td></td>').html("<td><b><small>1 Quincena    </small></b></td>"));
                row2.append( $('<td></td>').html("<td><b><small>2 Quincena    </small></b></td>"));
                row2.append( $('<td></td>').html("<td><b><small>Incre. Sal. Mes    </small></b></td>"));
                row2.append( $('<td></td>').html("<td><b><small>Nivel Alto    </small></b></td>"));
                row2.append( $('<td></td>').html("<td><b><small>Div. Año Anterior</small></b></td>"));
                row2.append( $('<td></td>').html("<td><b><small>Suma de Retencion    </small></b></td>"));
                row2.append( $('<td></td>').html("<td><b><small>1 Quincena    </small></b></td>"));
                row2.append( $('<td></td>').html("<td><b><small>2 Quincena    </small></b></td>"));
                row2.append( $('<td></td>').html("<td><b><small>Incre. Sal. Mes    </small></b></td>"));
                row2.append( $('<td></td>').html("<td><b><small>Nivel Alto    </small></b></td>"));
                row2.append( $('<td></td>').html("<td><b><small>Suma Aportes    </small></b></td>"));
                row2.append( $('<td></td>').html("<td><b><small>Total Aportes </small></b></td>"));
                $('#cuerpotabla').append(row2);
                var quincenauno1=0, quincenados1=0, incresalmes1=0, nivelalto1=0, divanoanterior=0,
                sumaretencion2=0, quincenauno2=0, quincenados2=0, incresalmes2=0, nivelalto2=0, sumaaporte2=0, totalaporte=0;
                for(i=0; i<msg[0].m; i++){ 
                        var row3=$('<tr ></tr>');
                        var fila0=$('<td></td>').text(msg[i].quincenauno1);
                        var fila1 = $('<td></td>').text(msg[i].quincenados1);
                        var fila3 = $('<td></td>').text(msg[i].incresalmes1);
                        var fila4 = $('<td></td>').text(msg[i].nivelalto1);
                        var fila5 = $('<td></td>').text(msg[i].divanoanterior);
                        var fila6 = $('<td></td>').text(msg[i].sumaretencion);
                        var fila7 = $('<td></td>').text(msg[i].quincenauno2);
                        var fila8 = $('<td></td>').text(msg[i].quincenados2);
                        var fila9 = $('<td></td>').text(msg[i].incresalmes2);
                        var fila10 = $('<td></td>').text(msg[i].nivelalto2);
                        var fila11 = $('<td></td>').text(msg[i].sumaaporte);


                        row3.append($('<td></td>').text(msg[i].mes));
                        row3.append($('<td></td>').text(msg[i].ano));
                        row3.append(fila0);
                        row3.append(fila1);
                        row3.append(fila3);
                        row3.append(fila4);
                        row3.append(fila5);
                        row3.append(fila6);
                        row3.append(fila7);
                        row3.append(fila8);
                        row3.append(fila9);
                        row3.append(fila10);
                        row3.append(fila11);
                        var total=((msg[i].sumaaporte)+(msg[i].sumaretencion));
                        row3.append($('<td></td>').text(total));
                       $('#cuerpotabla').append(row3);

                       quincenauno1=quincenauno1+ parseFloat(msg[i].quincenauno1);
                       quincenados1=quincenados1+  parseFloat(msg[i].quincenados1);
                       incresalmes1=incresalmes1+parseFloat(msg[i].incresalmes1);
                       nivelalto1=nivelalto1+parseFloat(msg[i].nivelalto1);
                       divanoanterior=divanoanterior+parseFloat(msg[i].divanoanterior);
                       sumaretencion2=sumaretencion2+parseFloat(msg[i].sumaretencion);
                       quincenauno2=quincenauno2+parseFloat(msg[i].quincenauno2);
                       quincenados2=quincenados2+parseFloat(msg[i].quincenados2);
                       incresalmes2=incresalmes2+parseFloat(msg[i].incresalmes2);
                       nivelalto2=nivelalto2+parseFloat(msg[i].nivelalto2);
                       sumaaporte2=sumaaporte2+parseFloat(msg[i].sumaaporte);
                       totalaporte=totalaporte+total
                }
                		var row3=$('<tr ></tr>');
               			row3.append($('<td></td>'));
               			row3.append($('<td></td>'));
               			row3.append($('<td></td>').html("<b>"+Math.round(quincenauno1*100)/100+"</b"));
                        row3.append($('<td></td>').html("<b>"+Math.round(quincenados1*100)/100+"</b"));
                        row3.append($('<td></td>').html("<b>"+Math.round(incresalmes1*100)/100 +"</b"));
                        row3.append($('<td></td>').html("<b>"+Math.round(nivelalto1*100)/100 +"</b"));
                        row3.append($('<td></td>').html("<b>"+Math.round(divanoanterior*100)/100 +"</b"));
                        row3.append($('<td></td>').html("<b>"+ Math.round(sumaretencion2*100)/100+"</b"));
                        row3.append($('<td></td>').html("<b>"+ Math.round(quincenauno2*100)/100+"</b"));
                        row3.append($('<td></td>').html("<b>"+ Math.round(quincenados2*100)/100+"</b"));
                        row3.append($('<td></td>').html("<b>"+ Math.round(incresalmes2*100)/100+"</b"));
                        row3.append($('<td></td>').html("<b>"+ Math.round(nivelalto2*100)/100+"</b"));
                        row3.append($('<td></td>').html("<b>"+ Math.round(sumaaporte2*100)/100+"</b"));
                        row3.append($('<td></td>').text(Math.round(totalaporte*100)/100));
                        $('#cuerpotabla').append(row3);
    	} 
 	});
</script>
