<link class="include" rel="stylesheet" type="text/css" href="js/dist/jquery.jqplot.min.css" />
<!-- <link rel="stylesheet" type="text/css" href="js/dist/examples/examples.min.css" /> -->
<link type="text/css" rel="stylesheet" href="js/dist/examples/syntaxhighlighter/styles/shCoreDefault.min.css" />
<link type="text/css" rel="stylesheet" href="js/dist/examples/syntaxhighlighter/styles/shThemejqPlot.min.css" />

  <script class="include" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<style type="text/css" media="screen">
    .jqplot-axis {
      font-size: 0.85em;
    }
    .jqplot-title {
      font-size: 1.1em;
    }
</style>

<div id="chart1" style="margin-top:20px; margin-left:20px; width:600px; height:400px;"></div>



<script class="code" type="text/javascript" language="javascript">
    $(document).ready(function(){
        var l0 = [6,  11, 10, 13, 11,  7];
        var l1 = [3,   6,  7,  7,  5,  3];
        var l2 = [4,   8,  9, 10, 8,   6];
        var l3 = [9,  13, 14, 16, 17, 19];
        var l4 = [15, 17, 16, 18, 13, 11];
        
        var plot1 = $.jqplot("chart1", [l0, l1, l2, l3, l4], {
            title: "Fill between 2 lines",
            axesDefaults: {
                pad: 1.05
            },
            //////
            // Use the fillBetween option to control fill between two
            // lines on a plot.
            //////
            fillBetween: {
                // series1: Required, if missing won't fill.
                series1: 1,
                // series2: Required, if  missing won't fill.
                series2: 3,
                // color: Optional, defaults to fillColor of series1.
                color: "rgba(227, 167, 111, 0.7)",
                // baseSeries:  Optional.  Put fill on a layer below this series
                // index.  Defaults to 0 (first series).  If an index higher than 0 is
                // used, fill will hide series below it.
                baseSeries: 0,
                // fill:  Optional, defaults to true.  False to turn off fill.  
                fill: true
            },
            seriesDefaults: {
                rendererOptions: {
                    //////
                    // Turn on line smoothing.  By default, a constrained cubic spline
                    // interpolation algorithm is used which will not overshoot or
                    // undershoot any data points.
                    //////
                    smooth: true
                }
            }
        });

    });
    </script>