<center>
	<div id="alertas2"> <div class="alert alert-info"><h4><b>Solicitudes  de Retiros</b></h4></div></div>
</center> 
<br>
<hr>
<h5>Filtrar Listado por: </h5>
    <div class="alinearizquierda2">
	    <input type="checkbox" id="A">
	    <label >Aprobado</label>
	    <input type="checkbox" id="noA" >
	    <label >No Aprobados</label>
	    <input type="checkbox" id="S" checked="true">
	    <label >En Espera</label>
<!-- 	    <input type="checkbox" id="noS">
	    <label >No Solucionado</label> -->
	</div>
	 <div class="alinearizquierda2" id="resultadonumero2"></div>
	 <br><hr>
	 <center>	 	
			<section id="listado">
				
			</section>
	 </center>


<div class="modal fade" id="Vermas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Detalles de la Solicitud</h4>
      </div>
      <div class="modal-body">
        
		<section id="formulario" style="display:block;">
		<form id="formsolicitudprestamo3" method="post" class="form-signin form-horizontal"  onsubmit="return false;"> 
			<div class="row">
						<div class="col-md-5">
							 	   <div class="form-group">
							          <label class="col-sm-7 control-label">Nombres:</label>
							          <div class="col-sm-5">
							              <input  id="tnombre2" type="text" class="form-control input-sm" name="nombre" / disabled="true" />  
							          </div>
							      </div>
							       <div class="form-group">
							          <label class="col-sm-7 control-label">Apellidos:</label>
							          <div class="col-sm-5">
							              <input  id="tapellido2" type="text" class="form-control input-sm" name="apellido2" disabled="true"/>  
							          </div>
							      </div>
							     
						</div>
						<div class="col-md-7">
								 <div class="form-group">
							          <label class="col-sm-7 control-label">Cedula:</label>
							          <div class="col-sm-5">
							              <input  id="tcedula2" type="text" class="form-control input-sm" name="cedula" disabled="true" />  
							          </div>
							      </div>
							      <div class="form-group">
							          <label class="col-sm-7 control-label">Fecha de Afiliacion:</label>
							          <div class="col-sm-5">
							              <input  id="tfecha2" type="text" class="form-control input-sm" name="fecha2" disabled="true" />  
							          </div>
							      </div>
							     
						</div>
					</div>
				<hr>
				<div class="row">
					<div class="col-md-5">
				 		<div class="form-group">
					          <label class="col-sm-7 control-label">Fecha de Sol. de Retiro</label>
					          <div class="col-sm-5">
					              <input  id="tfechasolicitudretiro" type="text" class="form-control input-sm" name="fechasolicitudretiro"  disabled="true" />  
					          </div>
					      </div>
					       <div class="form-group">
						          <label class="col-sm-7 control-label">Tipo de Retiro</label>
						          <div class="col-sm-5">
						               <select  class="form-control input-sm"   name="tiporetiro"  id="ttiporetiro" >
										<option value="0"disabled selected>Tipo de retiro</option>
					               		<option value="1">Total</option>
					               		<option value="2">Parcial</option>
					              	 </select>
						          </div>
					      </div>
					       <div class="form-group">
					          <label class="col-sm-7 control-label">Justificación del Retiro</label>
					          <div class="col-sm-5">
				          		  <textarea class="form-control input-sm" rows="4" cols="20" name="justifiacion" id="areajustificacion"></textarea>
					          </div>
					       </div>
					</div>
					<div class="col-md-7">
						 <div class="form-group">
						          <label class="col-sm-7 control-label">Código del Retiro</label>
						          <div class="col-sm-5">
						              <input  id="tcodigodelretiro2" type="text" class="form-control input-sm" name="codigodelretiro2" disabled="true" />  
						          </div>
					      </div>
					       <div class="form-group">
					          <label class="col-sm-7 control-label">Monto a retirar</label>
					          <div class="col-sm-5">
					              <input  id="tmontoaretirar" type="text" class="form-control input-sm" name="montoaretirar" />  
					          </div>
					      </div>
					</div>
				</div>
			</form>
			<hr>
			
			<hr>			

			<hr>
			<h5><b>Cambiar Estado de Solicitud</b></h5>
			<br>
			<div class="row">
				<div class="col-md-7">
					 <div class="form-group">
				          <label class="col-sm-5 control-label">Estado de la Solicitud:</label>
				          <div class="col-sm-7">
				               <select  class="form-control input-sm"   name="testadodelasolicitud"  id="testadodelasolicitud" >
									<option value="0"disabled selected> --Seleccione una opcion -- </option>
				               		<option value="1">Aprobado</option>
				               		<option value="2">No Aprobado</option>
				               		<option value="3">En Espera</option>	
				               </select>
				          </div>
				      </div>
		   		   </div>
		      </div>

	</section>












      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
       <!--  <button type="button" class="btn btn-primary" id="vertabladeamortizacion">Ver tabla de amortización</button> -->
      </div>
    </div>
  </div>
</div>


 <script type="text/javascript">
 $(document).ready(function() {
 	validarcheckbos();
 	cargarBusquedaSeleccionada(3);
 	 function validarcheckbos(){
			$('#S').on('click',  function(){
				if ($('input[id="S"]').is(':checked'))				
				{	
					$("#wait").css("display", "block");
					console.log("checkbox En espera Activado");
					A.checked=false;
					noA.checked=false;
					cargarBusquedaSeleccionada(3);
				}				
			});
			$('#A').on('click',  function(){
				if ($('input[id="A"]').is(':checked'))
				{	
					$("#wait").css("display", "block");
				    console.log("checkbox  Aprobado Activado");
					S.checked=false;
					noA.checked=false;
					cargarBusquedaSeleccionada(1);				
				}				
			});
			$('#noA').on('click',  function(){
				if ($('input[id="noA"]').is(':checked'))				
				{	
					$("#wait").css("display", "block");
					console.log("checkbox No Aprobado Activado");
					S.checked=false;
					A.checked=false;					
					cargarBusquedaSeleccionada(2);
				}				
			});
        }

		function cargarBusquedaSeleccionada(tipo){
		 	$.ajax
			      ({
			      type: "POST",
			      url: "controlador/controladorRetiros.php",
			      data: {id:2, tipo:tipo},
			      dataType: "json",
			      async: true,           
			      success:
			      function (msg) 
			      {   
							console.log(msg);
		                    if(msg[0].m>0){
		                         $('#listado').html("");
		                        
		                        var table = $('<table class="table" style="width:90%;"></table>');                         
		                        var row=$('<tr></tr>');
		                        $('#listado').append(ListarTabla(msg, table, row));  
		                        eventoslistado();        
		                    }
		                    else{
		                    		resultadonumero2.innerHTML="Mostrando <span class='badge'>"+msg[0].m+"</span> Resultados";
                					$("#wait").css("display", "none");
                					$('#listado').html("");

		                    }
			        },
			          error: function(jqXHR, textStatus, errorThrown) {
						  console.log("ERROR EN: " +textStatus, errorThrown);
						}
			        });
		}

	 function eventoslistado(){
        $('a.vermas').on('click',  function(){
            var ID=$(this).attr('name');
            console.log("id de solicitu de prestamo seleccionado: "+ ID);
          $.ajax
                ({
                type: "POST",
                url: "controlador/controladorRetiros.php",
                data: {id:3, idsolicitud:ID},
                async: false,   
                dataType: "json",       
                success:
                function (msg) 
                {   console.log(msg);
                	tnombre2.value=msg[0].nombres;
                	tapellido2.value=msg[0].apellidos;
                	tcedula2.value=msg[0].cedula;
                	tfecha2.value=msg[0].fechadeafiliacion;
                	tfechasolicitudretiro.value=msg[0].fecha;
                	tcodigodelretiro2.value=msg[0].idretiro;
                	console.log("tipo de retipo: "+msg[0].tipoderetiro);
                	$('#ttiporetiro').val(msg[0].tipoderetiro);
                	tmontoaretirar.value=msg[0].monto;
                	areajustificacion.value=msg[0].justificacion;
                	/*tfechasolicitud.value=msg[0].fecha;
                	tprestamosolicitado.value=msg[0].cantidadprestamo;
                	tTipoprestamosolicitado.value=msg[0].descripcion;
                	ttotalprestamocheque.value=msg[0].cheque;
                	tmontocuotaquincenal.value=msg[0].cuotaquincenal;
                	ttotalinteres.value=msg[0].interes;
                	console.log("estado del a solicitud: "+msg[0].estadosolicittud);*/
                	$('#testadodelasolicitud').val(msg[0].estado);


                 },
                    error:
                    function (msg) {console.log( msg +"No se pudo realizar la conexion");}
                });
           
        });        
   }

   	$('#testadodelasolicitud').change(function () {
   		 $.ajax
                ({
                type: "POST",
                url: "controlador/controladorRetiros.php",
                data: {id:4,  estadosolicittud:testadodelasolicitud.value},
                async: false,   
                dataType: "json",       
                success:
                function (msg) 
                {   

                	console.log(msg);
                 },
                    error:
                    function (msg) {console.log( msg +"No se pudo realizar la conexion");}
                });
   	});

		 function ListarTabla(msg, table, row){         
             
                row.append($('<th></th>').html("<b>Nº DE SOLICITUD</b>"));                            
                row.append($('<th></th>').html("<b>Nombres</b>"));
                row.append($('<th></th>').html("<b>Apellidos</b>"));
                row.append($('<th></th>').html("<b>Cedula</b>"));
                row.append($('<th></th>').html("<b>Tipo de retiro</b>"));      
                row.append($('<th></th>').html("<b>Ver mas</b>"));
                table.append(row);  
                var row2 = $('<tbody></tbody>');
                resultadonumero2.innerHTML="Mostrando <span class='badge'>"+msg[0].m+"</span> Resultados";

                for(i=0; i<msg[0].m; i++){                   
                        var row3=$('<tr></tr>');
                       
                        var fila1 = $('<td></td>').text(msg[i].idretiro);
                        var fila2 = $('<td></td>').text(msg[i].nombres);
                        var fila3 = $('<td></td>').text(msg[i].apellidos);
                        var fila4 = $('<td></td>').text(msg[i].cedula);
                        var fila5 = $('<td></td>').text(msg[i].tipoderetiro);
                                            
                        var fila8=$('<td></td>').append('<a  class="vermas btn btn-default btn-xs" data-toggle="modal" data-target="#Vermas"  title="Ver mas" name="'+msg[i].idretiro+'"> <span class="glyphicon glyphicon-plus"></span></a>');     
                        row3.append(fila1);
                        row3.append(fila2);
                        row3.append(fila3);
                        row3.append(fila4);  
                        row3.append(fila5); 
                        
                     	row3.append(fila8);
                        row2.append(row3);            
                }
                table.append(row2);
                $("#wait").css("display", "none");
                return table;
            }
 });
 </script>